<select class="js-example-basic-single js-states form-control" id="{{key}}" name="{{key}}" data-action="removeOnSubmit" onchange="setfields(this)" {{mode}} required>
	<option value="" disabled selected>--Select--</option>
	{% for constraint in value.constraints %}
		<option value="{{constraint['value']}}" data-values="{{constraint['set']}}">{{constraint['label']}}</option>
	{% endfor %}
</select>

<script>

function setfields(elem) {
	let values = $(elem).find('option:selected').data('values').replace(/'/g, '"');;
	let obj = JSON.parse(values);

	Object.keys(obj).forEach(function(key) {
		$("#" + key).val(obj[key]);
	})
}

</script>

