<select class="js-example-basic-single js-states form-control" id="{{key}}" name="{{key}}" data-parent-id="{{value.parent}}" {{mode}}>
	{% for constraint in value.constraints %}
		<option data-parent-value="{{constraint['parent_value']}}" value="{{constraint['value']}}" {% if constraint['value'] in value.default %}selected="selected"{% endif %}>{{constraint['label']}}</option>
	{% endfor %}
</select>
<span id="option-container-{{key}}" style="visibility: hidden; position:absolute;"></span>

<script>

$(document).ready(() => {
    $(".js-example-basic-single").each((i, el) => {
        let elem = $(el);
        if( elem.data('parentId') ){
			let parentid = "#" + elem.data('parentId');
			$(parentid).data('childId', elem.attr("id"));
			filter($(parentid));

			$(parentid).on("change", (event) => {
				filter(this);
			} );
        }
    });
});

function filter(parent) {

  let childid = "#" + $(parent).data('childId');
  let optionContainerId = "#option-container-" + $(parent).data('childId');

  let parentvalue = $(parent).find('option:selected').val(); // stores parent value

  $(optionContainerId).children().appendTo(childid); // moves <option> contained in #option-container back to their <select>
  let toMove = $(childid).find("option:not([data-parent-value='"+ parentvalue + "'])"); // selects elements to move out
  toMove.appendTo(optionContainerId); // moves elements in #option-container
  //$(childid).removeAttr("disabled"); // enables select
}

</script>

