<div class="dependent_definition" id="{{key}}" data-input-name="{{key}}" data-child-id="[]" data-parent-id="{{value.parent}}" data-input-ref="{{value.constraints}}">
    <input type="hidden" id="{{key}}-ref" name="{{key}}-ref" value="">
</div>


<script>
 $(function () {

    $(".dependent_definition").each(function(i, el) {
        var elem = $(el);

        // hide this auxiliary input
        var div = $("#form-group-{{key}}");
        div.hide();

        // link this element to the parent
        if( elem.data('parentId') ){
          var parentid = "#" + elem.data('parentId');

          //console.log("parent: " + parentid)
          //console.log($(parentid).attr('data-children-id'))

          prepareInput($(parentid));
          $(parentid).on("change", function(event) {
                prepareInput(this);
            } );
        }
    });
});

function prepareInput(parent){

  var childid = JSON.parse($(parent).data('childrenId').replace(/'/g, '"'));
  nchildren = childid.length;

  //console.log("childid: " + childid);

  for (i = 0; i < nchildren; i++ ){

    //console.log("childid[i]: " + childid[i]);

    var data = $("#" + childid[i]).data('inputRef').replace(/'/g, '"');
    var obj = JSON.parse(data);


    var parentvalue = $(parent).find('option:selected').val(); // store parent value
    var iname = childid[i];

    obj.forEach(function(element) {

      var input = $('#' + element['ref']);
      var div = $("#form-group-" + element['ref']);

      div.hide();
      div.find('input').prop("disabled", true);
      div.find('select').prop("disabled", true);

      if(element['parent_value'] == parentvalue){
         input.attr('name', iname);
         div.show();
         div.find('input').prop("disabled", false);
         div.find('select').prop("disabled", false);

         //set ref name
         $('#' + iname + "-ref").val(element['ref']);
      }

     });
  }

}
</script>

