<div class="dependent_definition" id="{{key}}" data-input-name="{{key}}" data-parent-id="{{value.parent}}" data-input-ref="{{value.constraints}}">
    <input type="hidden" id="{{key}}-type" name="{{key}}-type" value="">
</div>




<script>


$(document).ready(function () {

    $(".dependent_definition").each(function(i, el) {
        var elem = $(el);

        // hide this auxiliary input
        var div = $("#form-group-{{key}}");
        div.hide();

        // link this element to the parent
        if( elem.data('parentId') ){
          var parentid = "#" + elem.data('parentId');
          $(parentid).attr('data-child-id', elem.attr("id"));
          prepareInput($(parentid));
          $(parentid).on("change", function(event) {
                prepareInput(this);
            } );
        }
    });
});

function prepareInput(parent){

  var childid = "#" + $(parent).attr('data-child-id');
  var data = $(childid).data('inputRef').replace(/'/g, '"');
  var obj = JSON.parse(data);


  var parentvalue = $(parent).find('option:selected').val(); // store parent value
  var iname = $(parent).attr('data-child-id');

  obj.forEach(function(element) {

      var input = $('#' + element['ref']);
      var div = $("#form-group-" + element['ref']);
      //var label = $('label[for^=' + element['ref'] + ']').filter(':not(.custom-file-label)');

      div.hide();
      div.find('input').prop("disabled", true);
      div.find('select').prop("disabled", true);

      if(element['parent_value'] == parentvalue){
         input.attr('name', iname);
         //label.text(iname);
         div.show();
         div.find('input').prop("disabled", false);
         div.find('select').prop("disabled", false);

         //set type name
         $('#' + iname + "-type").val(input.attr('data-type'));
      }

  });

}

</script>

