<div>
    <div id="{{key}}-container"></div>
    <button type="button" class="dashboard-button dashboard-button-primary-outline" id="add-new-item" class="add-new" data-tag-name="{{key}}" onclick="addItem(this)"><i class="fas fa-plus"></i>&nbsp;Add</button>
    <input id="id-{{key}}" type="hidden" data-output-type="json" name="{{key}}" value=""/>
</div>

<script>

// initialize a unique counter:
let {{key}}_idx = 1;

function addItem(elem) {
    i = {{key}}_idx;
    var tagname = elem.getAttribute('data-tag-name');
    let template = `
        <div class="form-row" id="${tagname}-${i}">
			<div class="form-group">
				<label>Key</label>
				<input type="text" class="form-control" name="${tagname}_tmp[][key]" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Value</label>
				<input type="text" class="form-control" name="${tagname}_tmp[][value]" class="form-control" required>
			</div>
			<div class="form-group">
				<label style="visibility: hidden;display: block;">Remove</label>
				<button type=button class='dashboard-button dashboard-button-danger-outline' href="" onclick="javascript:removeItem('${tagname}'+ '-' + ${i} + '' ); return false;"><i class="fas fa-trash-alt"></i>&nbsp;Remove</button>
			</div>
        </div>`;

    let container = document.getElementById(tagname + '-container');
    let div = document.createElement('div');
    div.innerHTML = template;
    container.appendChild(div);

    i++;
    {{key}}_idx = i;
}

function removeItem(elementId) {
    var element = document.getElementById(elementId);
    console.log("id: " + elementId)
    console.log(element)
    element.parentNode.removeChild(element);
}

</script>

<style>

label {
	margin-bottom: 0;
	margin-left: 5px;
}

</style>