<div class="mt-2">
    <div id="{{key}}-container"></div>
    <button type="button" class="btn btn-sm btn-outline-info" id="add-new-item" class="add-new" data-tag-name="{{key}}" onclick="addRule(this)">Add rule</button>
    <input id="id-{{key}}" type="hidden" data-output-type="json" name="{{key}}" value""/>
</div>



<script>

// initialize a unique counter
let {{key}}_idx = 1;

function addRule(elem) {
    j = {{key}}_idx;
    var tagname = elem.getAttribute('data-tag-name');
    let template = `
        <div class="form-row" id="${tagname}-${j}">
          <div enctype='application/json' class="form-group">
            <label>Protocol</label>
            <select class="js-example-basic-single js-states form-control" name="${tagname}_tmp[${j}][protocol]">
              <option value="tcp">TCP</option>
              <option value="udp">UDP</option>
            </select>
          </div>
          <div class="form-group">
            <label>Port Range</label> <br>
            <input type="text" class="form-control" name="${tagname}_tmp[${j}][source]" onblur="validatePorts(this)" class="form-control" placeholder="e.g. [8080,8082] or 80" required>
            <div class="invalid-feedback">
              Please respect the required format: <strong>[0-9]+</strong> for single port (e.g. 8080); <strong>\[[0-9]+,[0-9]+\]</strong> for port range (e.g. [8080,8082]).
            </div>
          </div>
          <div class="form-group">
            <label>Source</label> <br>
            <input type="text" class="form-control" name="${tagname}_tmp[${j}][source_cidr]" class="form-control" value="0.0.0.0/0" disabled>
          </div>
          <div class="p-3 mt-2">
            <button type=button class='btn btn-sm btn-outline-danger' href="" onclick="javascript:removeRule('${tagname}'+ '-' + ${j} + ''); return false;">Remove</button>
          </div>
        </div>`;

    let container = document.getElementById(tagname + '-container');
    let div = document.createElement('div');
    div.innerHTML = template;
    container.appendChild(div);

    j++;
    {{key}}_idx = j;
}

</script>

<style>

label {
  margin-bottom: 0;
  margin-left: 5px;
}

.form-group {
    margin-left: 15px;
}

</style>

<script>
function removeRule(elementId) {
    var element = document.getElementById(elementId);
    console.log("id: " + elementId)
    console.log(element)
    element.parentNode.removeChild(element);
}
</script>
