Flask==3.0.2
Werkzeug==3.0.1
Flask-Caching==2.1.0
Flask_Dance==7.0.1
Flask-Mail==0.9.1
Flask-Redis==0.4.0
PyYAML
python-dateutil
requests
cryptography
packaging
#sqlalchemy
SQLAlchemy-Utils==0.41.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-Alembic==3.0.0
Flask-Script==2.0.6
Flask-WTF==1.2.1
tzlocal
PyMySQL
python-swiftclient
python-keystoneclient
pycryptodomex
hvac==2.1.0
MarkupSafe
boto3
python-ldap
randomcolor
sshpubkeys
jsonschema[format]
###### tests
#pytest
#pytest-cov
#pytest-redis
#betamax
#betamax_serializers
###### dev
#pylint-flask-sqlalchemy
#ruff

