Flask
Werkzeug
Flask-Caching
Flask_Dance
Flask-Mail
Flask-Redis
PyYAML
python-dateutil
requests
cryptography
packaging
#sqlalchemy
SQLAlchemy-Utils
Flask-SQLAlchemy
Flask-Migrate
Flask-Alembic
#alembic==1.7.7
Flask-Script
Flask-WTF
tzlocal
PyMySQL
python-swiftclient
python-keystoneclient
pycryptodomex
hvac
MarkupSafe
boto3
python-ldap
randomcolor
sshpubkeys
jsonschema[format]
###### tests
#pytest
#pytest-cov
#pytest-redis
#betamax
#betamax_serializers
###### dev
#pylint-flask-sqlalchemy
#ruff

