{% extends "base.html" %}

{% block content %}

<div class = "jumbotron jumbotron-fluid jumbotron-custom">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4"><strong>Welcome to the INFN Cloud Dashboard!</strong></h1>
        <p></p>
        <p>
          <a class="btn btn-primary btn-lg" role="button" href="{{ url_for("iam.login") }}">Please login, or register &raquo;</a>
        </p>
      </div>
    </div>	  
  </div>
</div>

<style>
.jumbotron-custom {
    background-image: url(static/images/infn-cloud/background.png);
    background-size: cover;
    height: 100%;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Thasadith', sans-serif;
}
</style>
{% endblock %}

