<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BS4-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}" />
    <script src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ace-1.4.8/js/ace.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ace-1.4.8/js/mode-json.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ace-1.4.8/js/mode-yaml.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.js-1.14.7/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
    <!-- DataTables -->
    <link href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
    <!-- Select2 -->
    <script src="{{ url_for('static', filename='select2/4.1.0-rc.0/js/select2.min.js') }}"></script>
    <link href="{{ url_for('static', filename='select2/4.1.0-rc.0/css/select2.min.css') }}" rel="stylesheet">
    <!-- Toggle -->
    <link href="{{ url_for('static', filename='bootstrap4-toggle/3.5.0/css/bootstrap4-toggle.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap4-toggle/3.5.0/js/bootstrap4-toggle.min.js') }}"></script>
    <!-- include summernote css/js -->
    <link href="{{ url_for('static', filename='summernote-0.8.20/dist/summernote-bs4.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='summernote-0.8.20/dist/summernote-bs4.min.js') }}"></script>
    <!-- bootstrap-show-password -->
    <script src="{{ url_for('static', filename='bootstrap-show-password/1.2.1/bootstrap-show-password.min.js') }}"></script>
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Add favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{config['FAVICON_PATH']}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{config['FAVICON_PATH']}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{config['FAVICON_PATH']}}/favicon-16x16.png">
    <!--link rel="manifest" href="{{config['FAVICON_PATH']}}/site.webmanifest"-->
    <!-- Dotdotdot -->
    <script type="text/javascript" src="{{ url_for('static', filename='dotdotdot-js/4.0.9/dotdotdot.js') }}"></script>
    <!-- Cookie Consent -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cookieconsent2/3.1.1/cookieconsent.min.css') }}" />
    <script src="{{ url_for('static', filename='cookieconsent2/3.1.1/cookieconsent.min.js') }}"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/home/css/style-v2.css">
    <script>
		let link = "{{ config['PRIVACY_POLICY_URL'] }}"
		window.addEventListener("load", () => {
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
					"background": "#050101"
					},
					"button": {
					"background": "#337ab7"
					}
				},
				"theme": "classic",
				"position": "top",
				"content": {
					"href": link
				}
			})
		});
    </script>
</head>

<body>

<div class="App">
    <!-- NAVBAR -->
    {% if session['username'] %}
        <nav class="navbar-left">
            <div class="navbar-left-top">
                <!-- NAVBAR BRAND -->
                <div class="navbar-left-header">
                    <a class="navbar-left-brand" href="{{ url_for('home_bp.home') }}" title="{{ config['NAVBAR_BRAND_TEXT'] }}">
                        <img src="{{ config['NAVBAR_BRAND_ICON'] }}" width="80" alt="INFN Cloud logo">
                        <div class="navbar-left-brand-text">
                            {{ config['NAVBAR_BRAND_TEXT'] }}
                        </div>
                    </a>
                    <div class="navbar-left-header-mobile-toggle">
                        <i class="fas fa-bars"></i>
                        <i class="fas fa-times"></i>
                    </div>
                </div>
        
                <!-- NAVBAR DROPDOWNS -->
                <div class="navbar-left-dropdowns-container">
                    
                    <!-- DEPLOYMENTS -->
                    <div class="navbar-left-dropdown">
                        <div class="navbar-left-dropdown-parent">
                            <div class="navbar-left-dropdown-parent-text" title="Deployments">Deployments</div>
                            <div class="navbar-left-dropdown-parent-icon">
                                <i class="fas fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="navbar-left-dropdown-children-container">
                            <div class="navbar-left-dropdown-children">
                                <a class="navbar-left-dropdown-children-item navbar-left-link" href="{{ url_for("deployments_bp.showdeploymentsoverview") }}" title="Overview">
                                    <i class="fas fa-chart-pie"></i>
                                    Overview
                                </a>
                                <a class="navbar-left-dropdown-children-item navbar-left-link" href="{{ url_for("deployments_bp.showdeployments") }}" title="List">
                                    <i class="fas fa-list-ul"></i>
                                    List
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- ADVANCED -->
                    {% if config['FEATURE_ADVANCED_MENU']|str2bool or  session['userrole'] == 'admin' %}
                        <div class="navbar-left-dropdown">
                            <div class="navbar-left-dropdown-parent">
                                <div class="navbar-left-dropdown-parent-text" title="Advanced">Advanced</div>
                                <div class="navbar-left-dropdown-parent-icon">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="navbar-left-dropdown-children-container">
                                <div class="navbar-left-dropdown-children">
                                    <a class="navbar-left-dropdown-children-item navbar-left-link" href="{{ url_for("providers_bp.getslas") }}" title="Resource Providers">
                                        <i class="fas fa-network-wired"></i>
                                        Resource Providers
                                    </a>
                                    {% if session['userrole'] == 'admin' %}
                                        <a class="navbar-left-dropdown-children-item navbar-left-link" href="{{ url_for("swift_bp.createswifttoken") }}" title="Create Swift Token">
                                            <i class="fas fa-coins"></i>
                                            Create Swift Token
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                    <!-- EXTERNAL LINKS -->
                    {% if config['EXTERNAL_LINKS']|length > 0 %}
                        <div class="navbar-left-dropdown">
                            <div class="navbar-left-dropdown-parent">
                                <div class="navbar-left-dropdown-parent-text" title="External Links">External Links</div>
                                <div class="navbar-left-dropdown-parent-icon">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="navbar-left-dropdown-children-container">
                                <div class="navbar-left-dropdown-children">
                                    {% for link in config['EXTERNAL_LINKS'] %}
                                        <a class="navbar-left-dropdown-children-item navbar-left-link" href="{{ link.url }}" title="{{link.menu_item_name}}">
                                            <i class="fas fa-link"></i>
                                            {{link.menu_item_name}}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                    <!-- ADMIN -->
                    {% if session['userrole'] == 'admin' %}
                        <div class="navbar-left-dropdown">
                            <div class="navbar-left-dropdown-parent">
                                <div class="navbar-left-dropdown-parent-text" title="Admin">Admin</div>
                                <div class="navbar-left-dropdown-parent-icon">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="navbar-left-dropdown-children-container">
                                <div class="navbar-left-dropdown-children">
                                    <a class="navbar-left-dropdown-children-item navbar-left-link" href="{{ url_for("users_bp.show_users") }}" title="Users">
                                        <i class="fas fa-users"></i>
                                        Users
                                    </a>
                                    <a class="navbar-left-dropdown-children-item navbar-left-link" href="{{ url_for("services_bp.list_as_admin") }}" title="Services">
                                        <i class="fas fa-cogs"></i>
                                        Services
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="navbar-left-bottom">
                <!-- SETTINGS -->
                <div class="navbar-left-settings">
                    <div class="navbar-left-settings-item">
                        <a class="navbar-left-dropdown-children-item navbar-left-link" href="{{ url_for('home_bp.show_settings') }}" title="Settings">
                            <i class="fas fa-cog"></i>
                            Settings
                        </a>
                    </div>
                    <div class="navbar-left-settings-item">
                        <a class="navbar-left-dropdown-children-item navbar-left-link" href="{{ config['HELP_PAGE_URL'] }}" title="Help & Support">
                            <i class="fas fa-life-ring"></i>
                            Help
                        </a>
                    </div>
                </div>

                <!-- USER -->
                <div class="navbar-left-user">
                    <div class="navbar-left-user-container">
                        <div class="navbar-left-user-image">
                            <a href="{{ url_for('home_bp.show_user_profile') }}">
                                <img src="{{ session['gravatar'] }}" width="50" alt="User Image"/>
                            </a>
                        </div>
                        <div class="navbar-left-user-profile-container">
                            <a href="{{ url_for('home_bp.show_user_profile') }}">
                                <div class="navbar-left-user-profile-name">
                                    {{ session['username'] }}
                                </div>
                            </a>

                            <!-- ROLE -->
                            {% if session['active_usergroup'] != None and 'gets3creds' not in request.path and 'overview' not in request.path %}   
                                <div class="navbar-left-user-profile-role" title="Role">
                                    <div class="navbar-left-dropdown-parent-text">{{ session['active_usergroup'] }}</div>
                                    {% if session['supported_usergroups']|length > 1 %}
                                        <div class="navbar-left-dropdown-parent-icon">
                                            <i class="fas fa-caret-down"></i>
                                        </div>

                                        <div class="navbar-left-user-profile-role-dropdown-menu-container">
                                            <div class="navbar-left-user-profile-role-dropdown-menu">
                                                {% for group in session['supported_usergroups'] %}
                                                    {% if group != session['active_usergroup'] %}
                                                        {% if 'configure' in request.path %}
                                                            <a class="navbar-left-user-profile-role-dropdown-item disabled"><i class="fas fa-ban"></i>&nbsp;{{group}}</a>
                                                        {% else %}
                                                            <a class="navbar-left-user-profile-role-dropdown-item" href="{{ url_for('home_bp.set_active_usergroup', group=group) }}" title="Change role to {{group}}">{{group}}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div> 
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <a class="navbar-left-user-logout" href="{{ url_for('home_bp.logout') }}" title="Logout">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
        </nav>

    {% endif %}
    
    {% if session['username'] %}
        <main>
    {% else %}
        <main style="margin-left: 0; width: 100%">
    {% endif %}

    {% include 'flashed_messages.html' %}

    {% block content %}{% endblock %}

	{% include config['FOOTER_TEMPLATE'] %}
    </main>
</div>

<div class="dashboard-loading-container">
    <div class="dashboard-loading">
        <div class="dashboard-loading-image">
            <img src="{{ config['NAVBAR_BRAND_ICON'] }}" width="250" alt="INFN Cloud logo">
        </div>
        <div class="dashboard-loading-bar" style="background: repeating-linear-gradient(to right, {{ config['BRAND_COLOR_1'] }} 0%, {{ config['BRAND_COLOR_2'] }} 30%, {{ config['BRAND_COLOR_2'] }} 70%, {{ config['BRAND_COLOR_1'] }} 100%); background-size: 200% auto; background-position: 0 100%;"></div>
        <div class="dashboard-loading-bar-text">
            This may take few seconds
        </div>
        <div class="dashboard-loading-title">
            Your request is being processed.
            <br>
            Wait on this page without reloading.
        </div>
    </div>
</div>

<div class="dashboard-alert-message" id="dashboard_alert_message">
    <div class="alert alert-primary" role="alert"></div>
</div>

</body>

<script src="/static/home/js/script-v2.js"></script>

</html>

