<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <!-- BS4-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}" />
    <script src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ace-1.4.8/js/ace.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ace-1.4.8/js/mode-json.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ace-1.4.8/js/mode-yaml.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.js-1.14.7/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
    <!-- DataTables -->
    <link href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
    <!-- Select2 -->
    <script src="{{ url_for('static', filename='select2/4.1.0-rc.0/js/select2.min.js') }}"></script>
    <link href="{{ url_for('static', filename='select2/4.1.0-rc.0/css/select2.min.css') }}" rel="stylesheet">
    <!-- Toggle -->
    <link href="{{ url_for('static', filename='bootstrap4-toggle/3.5.0/css/bootstrap4-toggle.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap4-toggle/3.5.0/js/bootstrap4-toggle.min.js') }}"></script>
    <!-- include summernote css/js -->
    <link href="{{ url_for('static', filename='summernote-0.8.20/dist/summernote-bs4.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='summernote-0.8.20/dist/summernote-bs4.min.js') }}"></script>
    <!-- bootstrap-show-password -->
    <script src="{{ url_for('static', filename='bootstrap-show-password/1.2.1/bootstrap-show-password.min.js') }}"></script>
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Add favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{favicon_path}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{favicon_path}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{favicon_path}}/favicon-16x16.png">
    <!--link rel="manifest" href="{{favicon_path}}/site.webmanifest"-->
    <!-- Dotdotdot -->
    <script type="text/javascript" src="{{ url_for('static', filename='dotdotdot-js/4.0.9/dotdotdot.js') }}"></script>
    <!-- Cookie Consent -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cookieconsent2/3.1.1/cookieconsent.min.css') }}" />
    <script src="{{ url_for('static', filename='cookieconsent2/3.1.1/cookieconsent.min.js') }}"></script>
    <script>
    let link = "{{ privacy_policy_url }}"
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#050101"
            },
            "button": {
              "background": "#337ab7"
            }
          },
          "theme": "classic",
          "position": "top",
          "content": {
            "href": link
          }
        })
    });
    </script>
    <style type="text/css">
    body {
      margin-bottom: 70px
      font-family: 'Raleway', sans-serif !important;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Raleway', sans-serif !important;
    }
    p {
        font-family: 'Raleway', sans-serif !important;
    }
    div {
        font-family: 'Raleway', sans-serif !important;
    }
    </style>

</head>

<body>

<div class="App">

    <nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
        <div class="container-fluid">
		<a class="navbar-brand" href="{{ url_for("home_bp.home") }}"><img src="{{ navbar_brand_icon }}" width="40" alt="" style="display:inline; margin-right: 10px;">{{ navbar_brand_text }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
	        <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav mr-auto">
                    {% if session['username'] %}
                    <li class="nav-item dropdown">
                        <a id="depMenuItem" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Deployments</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for("deployments_bp.showdeploymentsoverview") }}">Overview</a>
                            <a class="dropdown-item" href="{{ url_for("deployments_bp.showdeployments") }}">List</a>
                        </div>
                    </li>
                    {% if enable_advanced_menu == "yes" or  session['userrole'] == 'admin' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Advanced</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for("providers_bp.getslas") }}">Resource Providers</a>
                            {% if session['userrole'] == 'admin' %}
                                <a class="dropdown-item" href="{{ url_for("swift_bp.createswifttoken") }}">Create Swift Token</a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
		            {% if external_links|length > 0 %}
		            <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">External Links</a>
                        <div class="dropdown-menu">
			            {% for link in external_links %}
			                <a class="dropdown-item" href="{{ link.url }}" target="blank">{{link.menu_item_name}}</a>
			            {% endfor %}
                        </div>
                    </li>
		            {% endif %}
                    {% if session['userrole'] == 'admin' %}
                    <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for("home_bp.show_settings") }}">Settings</a>
			                <a class="dropdown-item" href="{{ url_for('users_bp.show_users') }}">Users</a>
                            <a class="dropdown-item" href="{{ url_for('services_bp.list_as_admin') }}">Services</a>
                        </div>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
                {% if session['username'] %}
                <ul class="navbar-nav ml-auto">
                    {% if session['active_usergroup'] != None and 'gets3creds' not in request.path and 'overview' not in request.path %}
                    <li id="groupMenuItem" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ session['active_usergroup'] }}<span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            {% for group in session['supported_usergroups'] %}
                            {% if 'configure' in request.path or group==session['active_usergroup'] %}{% set prop='disabled' %}{% else %}{% set prop='' %}{% endif %}
                            <a class="dropdown-item {{prop}}" href="{{ url_for('home_bp.set_active_usergroup', group=group) }}">{{group}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
	                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <img class="rounded-circle" src="{{ session['gravatar'] }}"/> {{ session['username'] }}<span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            {% if enable_vault_integration %}
                            <a class="dropdown-item" href="{{ url_for('vault_bp.ssh_keys') }}">SSH keys</a>
                            <a class="dropdown-item" href="{{ url_for("vault_bp.manage_service_creds") }}">Service Credentials</a>
                            {% endif %}
                            {% set s3_groups = ( s3_allowed_groups | intersect(session['supported_usergroups'])) %}
                            {% if enable_s3creds == "yes" and (session['userrole']=='user:s3' or (s3_allowed_groups|length==0 or s3_groups|length >= 1)) %}
                            <a class="dropdown-item" href="{{ url_for('swift_bp.gets3creds') }}">S3 credentials</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for("home_bp.logout") }}">Logout</a>
                        </div>
	                </li>
                </ul>
	            {% endif %}
            </div>
        </div>
    </nav>
    {% include 'flashed_messages.html' %}
    <main>
    {% block content %}{% endblock %}
    </main>
    {% include footer_template %}
</div>

</body>

</html>

