{% macro create_configure_button(enable_template_groups, tosca, allowed_groups) -%}
{% if allowed_groups is not defined or allowed_groups == '*' %}
{% set groups = session['supported_usergroups'] %}
{% else %}
{% set groups = ( allowed_groups.split(',') | intersect(session['supported_usergroups'])) %}
{% endif %}

<div class="dropdown show">
  <a class="badge badge-pill badge-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Configure
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <h6 class="dropdown-header">Choose the active project</h6>
    {% for group in groups %}
      {% if enable_template_groups %}
        <a class="dropdown-item {% if group==session['active_usergroup'] %}active{% endif %}" href="{{ url_for('deployments_bp.configure', selected_group=tosca, active_user_group=group) }}">{{ group }}</a>
      {% else %}
        <a class="dropdown-item {% if group==session['active_usergroup'] %}active{% endif %}" href="{{ url_for('deployments_bp.configure', selected_tosca=tosca, active_user_group=group) }}">{{ group }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
{%- endmacro -%}
