{% extends "base.html" %}
{% block content %}

<div class="container mt-2" id="cardsContainer" xmlns="http://www.w3.org/1999/html">

    <!-- REPORT -->
    <div class="dashboard-title">
        <i class="fas fa-chart-bar"></i>
        Report
    </div>

    <div class="dashboard-report-container">
        <div class="dashboard-report" title="Creation completed: {{ s_values[0] if s_values[0] != undefined else 0 }}" style="color: #43A047;">
            <div class="dashboard-report-text">
                <i class="fas fa-check-circle"></i>&nbsp;&nbsp; Creation completed
            </div>
            <div class="dashboard-report-count">
                {{ s_values[0] if s_values[0] != undefined else 0 }}
            </div>
        </div>

        <div class="dashboard-report" title="Creation in progress: {{ s_values[2] if s_values[2] != undefined else 0 }}" style="color: #FF9800;">
            <div class="dashboard-report-text">
                <i class="fas fa-clock"></i>&nbsp;&nbsp;    Creation in progress
            </div>
            <div class="dashboard-report-count">
                {{ s_values[2] if s_values[2] != undefined else 0 }}
            </div>
        </div>

        <div class="dashboard-report" title="Creation failed: {{ s_values[1] if s_values[1] != undefined else 0 }}" style="color: #DD2C00;">
            <div class="dashboard-report-text">
                <i class="fas fa-times-circle"></i>&nbsp;&nbsp; Creation failed
            </div>
            <div class="dashboard-report-count">
                {{ s_values[1] if s_values[1] != undefined else 0 }}
            </div>
        </div>
    </div>

    <!-- BOOKMARKS -->
    <div class="dashboard-title" id="bookmarks_title">
        <i class="fas fa-bookmark"></i>
        Bookmarks
    </div>

    <div class="dashboard-bookmarks-container">
        <!-- CENTRALISED SERVICE BOOKMARKS -->
        {% for service in services %}
            <a id="{{ service.id }}_shortcut" href="{{ service.url }}">
                <div class="dashboard-bookmark" title="{{ service.name }}">
                    <div class="dashboard-bookmark-left">
                        <div class="dashboard-bookmark-image">
                            <img src="{{ url_for('services_bp.showimg', filename=service.icon) }}" alt="Service Image">
                        </div>
                        <div class="dashboard-bookmark-text">
                            {{ service.name }}
                        </div>
                    </div>
                    <div class="dashboard-bookmark-right">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </a>
        {% endfor %}

        <!-- ON-DEMAND SERVICE BOOKMARKS -->
        {% for tosca_name, tosca in templates_info.items() %}
            {% if tosca['metadata']['access_locked'] %}
                {% if enable_access_request == "yes" %}
                    {% set pre_tasks = tosca['metadata']['authorization_required'] %}
                        {% if tosca['metadata']['display_name'] is defined %}
                            {% set service_label = tosca['metadata']['display_name'] %}
                        {% else %}
                            {% set service_label = tosca_name %}
                        {% endif %}
                        <a id="{{tosca['metadata']['bookmark_id']}}_shortcut" data-id="{{ service_label }}" data-action="{{ url_for('home_bp.sendaccessrequest', service_type=service_label) }}" data-toggle="modal" data-target="#requestAccess">
                {% else %}
                    <a id="{{tosca['metadata']['bookmark_id']}}_shortcut" class="disabled">
                {% endif %}
            {% elif tosca['metadata']['tag'] is defined and tosca['metadata']['tag']|upper == 'MAINTENANCE'   %}
                <a id="{{tosca['metadata']['bookmark_id']}}_shortcut" class="disabled">
            {% else %}
                {% if enable_template_groups %}
                    <a id="{{tosca['metadata']['bookmark_id']}}_shortcut" href="{{ url_for('deployments_bp.configure', selected_group=tosca_name) }}">
                {% else %}
                    <a id="{{tosca['metadata']['bookmark_id']}}_shortcut" href="{{ url_for('deployments_bp.configure', selected_tosca=tosca_name) }}">
                {% endif %}
            {% endif %}
                <div class="dashboard-bookmark" title="{% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}">
                    <div class="dashboard-bookmark-left">
                        <div class="dashboard-bookmark-image">
                            <img src="{{tosca['metadata']['icon']}}" alt="{% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %} Image">
                        </div>
                        <div class="dashboard-bookmark-text">
                            {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}
                        </div>
                    </div>
                    <div class="dashboard-bookmark-right">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <!-- SEARCH -->
    <div class="dashboard-title">
        <i class="fas fa-cloud"></i>
        Services
    </div>
    <div class="input-search-container" title="Search services">
        <!-- <input id="cardFilter" class="form-control py-2 border" type="text" onkeyup="cardFilter()" placeholder="Search..."> -->
        <input id="inputCardFilter" class="input-search" type="text" name="search" placeholder="Search...">
        <i class="fas fa-search"></i>
    </div>

    <!-- CENTRALISED SERVICES -->
    {% if services|length > 0 %}
        <div class="dashboard-subtitle">
            <i class="fas fa-cogs"></i>
            Centralised Services
        </div>
        {% include 'managed_services.html' %}
    {% endif %}
    <!-- ON DEMAND SERVICES -->
    <div class="dashboard-subtitle">
        <i class="fas fa-server"></i>
        On-demand Services
    </div>

    <div class="dashboard-cards-container">
        <div class="dashboard-cards-no-result" id="dashboardCardsNoResult_2">
            No On-demand Services found for the specified term.
        </div>

        {% for tosca_name, tosca in templates_info.items() %}
            <!-- CARD -->
            <div class="dashboard-card" title="Show details" id="dashboardCardOnDemand_{{ loop.index }}">
                <div class="dashboard-card-container">

                    <!-- CARD IMAGE -->
                    <div class="dashboard-card-image">
                        <img src="{{tosca['metadata']['icon']}}" alt="{% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %} Image">
                    </div>
                    
                    <!-- RIBBON -->
                    {% if tosca['metadata']['access_locked'] %}
                        <div class="ribbon red">
                            <span>{{ config['NOT_GRANTED_ACCESS_TAG'] }}</span>
                        </div>
                    {% else %}
                        {% if tosca['metadata']['tag'] is defined %}
                            <div class="ribbon {{tosca['metadata']['tag_color']}}">
                                <span>{{tosca['metadata']['tag']}}</span>
                            </div>
                        {% endif %}
                    {% endif %}

                    <!-- CARD BODY -->
                    <div class="dashboard-card-body">
                        <div class="dashboard-card-body-top">
                            <div class="dashboard-card-header">
                                <div class="dashboard-card-title">{% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}</div>
                                <div class="dashboard-card-buttons">
                                    {% if tosca['metadata']['guide_url'] != '' %}
                                        <a href="{{tosca['metadata']['guide_url']}}" target="_blank">
                                            <div class="dashboard-card-small-btn exclude-detail-opening" title="Guide for {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}">
                                                <i class="fas fa-book exclude-detail-opening"></i>
                                            </div>
                                        </a>
                                    {% endif %}
                                    <div bookmark="{{tosca['metadata']['bookmark_id']}}" class="dashboard-card-small-btn dashboard-card-bookmark exclude-detail-opening {{tosca['metadata']['bookmark_id']}}_bookmark_btn" title="Add {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %} to bookmarks">
                                        <i class="far fa-bookmark exclude-detail-opening"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-card-text">
                                {{tosca['description'] | safe}}
                            </div>
                        </div>
                        <div class="dashboard-card-body-bottom">
                            <div class="dashboard-card-buttons">
                                {% if tosca['metadata']['access_locked'] %}
                                    {% if config['FEATURE_ACCESS_REQUEST']|str2bool %}
                                        {% set pre_tasks = tosca['metadata']['authorization_required'] %}
                                            {% if tosca['metadata']['display_name'] is defined %}
                                                {% set service_label = tosca['metadata']['display_name'] %}
                                            {% else %}
                                                {% set service_label = tosca_name %}
                                            {% endif %}
                                            <a data-id="{{ service_label }}" data-action="{{ url_for('home_bp.sendaccessrequest', service_type=service_label) }}" data-toggle="modal" data-target="#requestAccess">
                                                <div class="dashboard-button dashboard-button-primary dashboard-button-lg exclude-detail-opening" style="background: var(--color-danger);" title="Request Access {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}">
                                                    Request Access
                                                    <i class="fas fa-arrow-right exclude-detail-opening"></i>
                                                </div>
                                            </a>
                                    {% endif %}
                                {% elif tosca['metadata']['tag'] is defined and tosca['metadata']['tag']|upper == 'MAINTENANCE'   %}
                                    <div class="dashboard-button dashboard-button-primary dashboard-button-lg exclude-detail-opening disabled" title="{% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %} is under maintenance">
                                        Maintenance
                                        <i class="fas fa-tools exclude-detail-opening"></i>
                                    </div>
                                {% else %}
                                    {% if enable_template_groups %}
                                        <a href="{{ url_for('deployments_bp.configure', selected_group=tosca_name) }}">
                                            <div class="dashboard-button dashboard-button-primary dashboard-button-lg exclude-detail-opening" title="Configure {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}">
                                                Configure
                                                <i class="fas fa-arrow-right exclude-detail-opening"></i>
                                            </div>
                                        </a>
                                    {% else %}
                                        <a href="{{ url_for('deployments_bp.configure', selected_tosca=tosca_name) }}">
                                            <div class="dashboard-button dashboard-button-primary dashboard-button-lg exclude-detail-opening" title="Configure {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}">
                                                Configure
                                                <i class="fas fa-arrow-right exclude-detail-opening"></i>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SERVICE INFO -->
            <div class="dashboard-card-info-container" id="dashboardCardOnDemand_Info_{{ loop.index }}">
                <div class="dashboard-card-info">

                    <!-- RIBBON -->
                    {% if tosca['metadata']['access_locked'] %}
                        <div class="ribbon red">
                            <span>{{ config['NOT_GRANTED_ACCESS_TAG'] }}</span>
                        </div>
                    {% else %}
                        {% if tosca['metadata']['tag'] is defined %}
                            <div class="ribbon {{tosca['metadata']['tag_color']}}">
                                <span>{{tosca['metadata']['tag']}}</span>
                            </div>
                        {% endif %}
                    {% endif %}

                    <div class="dashboard-card-info-close" id="dashboardCardOnDemand_Info_CloseButton_{{ loop.index }}" title="Close">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="dashboard-card-image">
                        <img src="{{tosca['metadata']['icon']}}" alt="{% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %} Image">
                    </div>
                    <div class="dashboard-card-info-title">
                        {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}
                    </div>
                    <div class="dashboard-card-info-description">
                        {{tosca['description'] | safe}}
                    </div>
                    <div class="dashboard-card-info-buttons">
                        {% if tosca['metadata']['guide_url'] != '' %}
                            <a href="{{tosca['metadata']['guide_url']}}" target="_blank">
                                <div class="dashboard-card-small-btn" title="Guide for {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}">
                                    <i class="fas fa-book"></i>
                                </div>
                            </a>
                        {% endif %}
                        <div bookmark="{{tosca['metadata']['bookmark_id']}}" class="dashboard-card-small-btn dashboard-card-bookmark" title="Add {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %} to bookmarks" style="margin-right: 4px;">
                            <i class="far fa-bookmark"></i>
                        </div>
                        {% if tosca['metadata']['access_locked'] %}
                            {% if config['FEATURE_ACCESS_REQUEST']|str2bool %}
                                {% set pre_tasks = tosca['metadata']['authorization_required'] %}
                                    {% if tosca['metadata']['display_name'] is defined %}
                                        {% set service_label = tosca['metadata']['display_name'] %}
                                    {% else %}
                                        {% set service_label = tosca_name %}
                                    {% endif %}
                                    <a data-id="{{ service_label }}" data-action="{{ url_for('home_bp.sendaccessrequest', service_type=service_label) }}" data-toggle="modal" data-target="#requestAccess">
                                        <div class="dashboard-button dashboard-button-primary dashboard-button-lg" style="background: var(--color-danger);" title="Request Access {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}">
                                            Request Access
                                            <i class="fas fa-arrow-right"></i>
                                        </div>
                                    </a>
                            {% endif %}
                        {% elif tosca['metadata']['tag'] is defined and tosca['metadata']['tag']|upper == 'MAINTENANCE'   %}
                            <div class="dashboard-button dashboard-button-primary dashboard-button-lg disabled" title="{% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %} is under maintenance">
                                Maintenance
                                <i class="fas fa-tools"></i>
                            </div>
                        {% else %}
                            {% if enable_template_groups %}
                                <a href="{{ url_for('deployments_bp.configure', selected_group=tosca_name) }}">
                                    <div class="dashboard-button dashboard-button-primary dashboard-button-lg" title="Configure {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}">
                                        Configure
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </a>
                            {% else %}
                                <a href="{{ url_for('deployments_bp.configure', selected_tosca=tosca_name) }}">
                                    <div class="dashboard-button dashboard-button-primary dashboard-button-lg" title="Configure {% if tosca['metadata']['display_name'] is defined %}{{tosca['metadata']['display_name']}}{% else %}{{tosca_name}}{% endif %}">
                                        Configure
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal begin -->
    <div class="modal fade" id="requestAccess" tabindex="-1" role="dialog" aria-labelledby="requestAccess" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="listingModalLabel">Request Access</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="requestform" action="#" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            <label for="username">
                                <strong>User</strong>
                            </label>
                            <input type="text" class="form-control" name="username" id="username" value="{{ session['username'] }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                <strong>Mail</strong>
                            </label>
                            <input type="email" class="form-control" name="email" id="email" value="{{ session['useremail'] }}" data-toggle="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea required class="form-control" name="message" id="message" placeholder="Please, provide a detailed motivation for your request." rows="3"></textarea>
                        </div>
                        <input type="hidden" name="service_type" value="">
                        <div class="dashboard-template-buttons-container">
                            <button type=button class="dashboard-button dashboard-button-lg dashboard-button-danger" title="Cancel" data-dismiss="modal">
                            Cancel&nbsp;<i class="fas fa-ban"></i></button>
              
                            <button type="submit" class="dashboard-button dashboard-button-lg dashboard-button-primary" title="Continue" onclick="set_loading(true)">Continue&nbsp;<i class="fas fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  end Modal -->
</div>
<!-- close container -->
<script src="/static/js/catalogue.js"></script>
<link rel="stylesheet" href="/static/css/catalogue.css">

<script>

$('#requestAccess').on('show.bs.modal', (event) => {
	let target = $(event.relatedTarget) // Button that triggered the modal
	// Extract info from data-* attributes
	let service = target.data('id')
	let url = target.data('action')
	let modal = $(this)
	modal.find('.modal-title').text('Request access to service \"' + service + '\"')
	modal.find('input[name="service_type"]').val(service)
	modal.find('#requestform').prop('action', url)
})

</script>

{% endblock %}
