<br>
<div class="container">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="font-weight-bold text-primary">
            Get S3 credentials
            </h4>
        </div>

        <div class="card-body">
            {% if s3creds %}
            <h5 class="font-weight-bold">Access key:</h5> {{s3creds['access_key']}}
            <br><br>
            <h5 class="font-weight-bold">Secret Access key:</h5> {{s3creds['secret_key']}}
            {% else %}
            <form id="s3Submit" action="{{ url_for('swift_bp.gets3creds') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <label for="s3url">S3 URL</label>
                    <select class="js-example-basic-single js-states form-control" id="s3url" name="s3url" required>
                        {% for url in s3urls %}
                        <option value="{{url}}">{{url}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="project">Project</label>
                    <select class="js-example-basic-single js-states form-control" id="project" name="project" required>
                        {% if config['S3_IAM_GROUPS']|length == 0 or session['userrole'] == 'user:s3' %}
                          {% set s3_groups = session['supported_usergroups'] %}
                        {% else %}
                          {% set s3_groups = session['supported_usergroups']| intersect(config['S3_IAM_GROUPS']) %}
                        {% endif %}
                        {% for prj in s3_groups %}
                        <option value="{{prj}}">{{prj}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-success submitBtn">Submit</button>
                <button id="cancelBtn" type=button class="btn btn-small btn-primary" onclick="location.href='{{url_for('home_bp.home')}}'">
                <span class="fas fa-ban mr-2"></span>Cancel</button>
            </form>
           {% endif %}
        </div>
    </div>

</div>