{% extends "base.html" %}

{% block content %}

<div class="container">

    <br>

    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="dashboard-template-header">
                <div class="dashboard-template-image">
                    <img src="{{template['metadata']['icon']}}" alt="{% if template['metadata']['display_name'] is defined %}{{template['metadata']['display_name']}}{% else %}{{selectedTemplate}}{% endif %} Image">
                </div>
            
                <div class="dashboard-template-title">
                  {% if template['metadata']['display_name'] is defined %}{{template['metadata']['display_name']}}{% else %}{{selectedTemplate}}{% endif %}
                </div>
            
                <div class="dashboard-template-step">
                  Step&nbsp;{{ steps['current'] }}/{{ steps['total'] }}
                </div>
            </div>

            <div class="dashboard-title" style="margin-top: 0;">
                <i class="fas fa-check-circle"></i>&nbsp;Check Data
            </div>

            <form id="depSubmit" action="{{ url_for('deployments_bp.createdep', template=selectedTemplate) }}" method="post" autocomplete="off" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {% set map = {} %}
                {% set list = {} %}

                {% for elements in data.lists() %}
                    {% set element = elements[0] %}
                    {% set dataList = elements[1] %}
                    {% for key, value in template['inputs'].items() %}
                        {% if key in element %}

                            <!-- MAP -->
                            {% if value['type'] == 'map' %}
                                {% set key_parts = element.split('[') %}
                                {% set main_key = key_parts[0] %}
                                {% if key_parts|length > 1 %}
                                    {% set sub_key = key_parts[1].split(']')[0] %}
                                    {% set value = data[element] %}

                                    {% if map[main_key] is not defined %}
                                        {% set _ = map.update({main_key: {sub_key: value}}) %}
                                    {% else %}
                                        {% if map[main_key][sub_key] is not defined %}
                                            {% set _ = map[main_key].update({sub_key: value}) %}
                                        {% else %}
                                            {% set _ = map[main_key].update({sub_key: map[main_key][sub_key] ~ ', ' ~ value}) %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% if key == element and map|length > 0 %}

                                    <div class="form-group" style="margin-bottom: 4px;">
                                        <label>{{ element }} {{ map_val }}:</label><br>
                                        <ul>
                                    {% for map_val in map[element+'_tmp'] %}
                                            <li>{{ map[element+'_tmp'][map_val] }}</li>
                                    {% endfor %}
                                        </ul>
                                    </div>

                                    {% set map = {} %}
                                {% endif %}
                        
                            <!-- COMBINED -->
                            {% elif value['type'] == 'combined' %}
                                {% for option in value['constraints'] %}
                                    {% if option['value']|string == data[element]|string %}
                                        <div class="form-group" style="margin-bottom: 4px;">
                                            <label>{{ element }}:</label>&nbsp;{{ option['label'] }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                        
                            <!-- MULTISELECT -->
                            {% elif value['type'] == 'multiselect' %}

                                <div class="form-group" style="margin-bottom: 4px;">
                                    <label>{{ element }}:</label><br>
                                    <ul>
                                {% for multi in dataList %}
                                        <li>{{ multi }}</li>
                                {% endfor %}
                                    </ul>
                                </div>
                        
                            <!-- LIST -->
                            {% elif value['type'] == 'list' %}
                                {% set key_parts = element.split('[]') %}
                                {% set main_key = key_parts[0] %}
                                {% if key_parts|length > 1 %}
                                    {% set sub_key = key_parts[1] %}
                                    {% set value = dataList %}

                                    {% if list[main_key] is not defined %}
                                        {% set _ = list.update({main_key: {sub_key: value}}) %}
                                    {% else %}
                                        {% if list[main_key][sub_key] is not defined %}
                                            {% set _ = list[main_key].update({sub_key: value}) %}
                                        {% else %}
                                            {% set _ = list[main_key].update({sub_key: list[main_key][sub_key] ~ ', ' ~ value}) %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                
                                {% if key == element %}
                                    {% if list[element+'_tmp'] is defined %}
                                        {% set list_data = {} %}
                                            
                                        {% for key in list[element+'_tmp'] %}
                                            {% set values = list[element+'_tmp'][key] %}

                                            {% for i in range(values|length) %}
                                                {% if list_data[i] is not defined %}
                                                    {% set _ = list_data.update({i: values[i]}) %}
                                                {% else %}
                                                    {% set _ = list_data.update({i: list_data[i] +', '+ values[i] }) %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        
                                        {% set keys = list[element+'_tmp']['[key]'] %}
                                        {% set values = list[element+'_tmp']['[value]'] %}

                                        <div class="form-group" style="margin-bottom: 4px;">
                                            <label>{{ element }}:</label><br>
                                            <ul>
                                        {% for key in list_data %}
                                                <li>{{ list_data[key] }}</li>
                                        {% endfor %}
                                            </ul>
                                        </div>
                                    
                                    {% endif %}
                                    {% set list = {} %}
                                {% endif %}
                            
                            <!-- OTHERS -->
                            {% elif key == element and data[element] != '' %}
                                <div class="form-group" style="margin-bottom: 4px;">
                                    <label>{{ element }}:</label>&nbsp;{{ data[element] }}
                                </div>
                            {% endif %}

                        {% endif %}
                    {% endfor %}

                    <!-- EXTRA OPTIONS -->
                    {% if element.split('.')[0] == 'extra_opts' %}
                        <div class="form-group" style="margin-bottom: 4px;">
                            <label>{{ element.split('.')[1] }}:</label>&nbsp;{{ data[element] }}
                        </div>
                    
                    <!-- DESCRIPTION -->
                    {% elif element == 'additional_description' %}
                        <div class="form-group" style="margin-bottom: 4px;">
                            <label>DEPLOYMENT DESCRIPTION:</label>&nbsp;{{ data[element] }}
                        </div>
                    {% endif %}
                    
                {% endfor %}

                {% for key, values in data.lists() %}
                    {% for value in values %}
                        <input type="hidden" name="{{key}}" value="{{value}}">
                    {% endfor %}
                {% endfor %}

                {#
                    <!-- <hr>
                    {{ data }}
                    <hr>
                    {{ template['inputs'].items() }} -->
                #}
                        

                <br>
                <div class="dashboard-template-buttons-container">
                  <button id="cancelBtn" type=button class="dashboard-button dashboard-button-lg dashboard-button-danger" title="Cancel" onclick="location.href='{{ url_for('home_bp.portfolio') }}'">
                  Cancel&nbsp;<i class="fas fa-ban"></i></button>

                    <button type="button" class="dashboard-button dashboard-button-outline-no-border" title="Back" onclick="history.back()" style="margin-left: auto; margin-right: 4px;"><i class="fas fa-arrow-left"></i>&nbsp;Back</button>
                    <button type="submit" class="dashboard-button dashboard-button-lg dashboard-button-primary" title="Submit">Submit&nbsp;<i class="fas fa-share"></i></button>
                </div>
          </form>
        </div>
    </div>
</div>

<script>
    
    $(document).ready(function () {
        $("#depSubmit").submit(function () {
            set_loading(true);

            //disable button on click
            $(".submitBtn").attr("disabled", true);
            // add spinner to button
            $(".submitBtn").html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...` );
            //disable cancel too
            $("#cancelBtn").attr("disabled", true);
            $("#cancelBtn").attr("onclick", "#");
    
            // Process complex types, like list and map
            var data_json = $('#depSubmit').serializeJSON();
            var tmpElems = $("input[data-output-type='json']");
    
            for (j = 0; j < tmpElems.length; j++) {
              let jname = tmpElems[j].name;
    
              if ( data_json[jname + "_tmp"] == undefined)
              {
                 document.getElementById('id-' + jname).disabled = true;
    
              }
              else
              {
                //console.log(data_json[jname + "_tmp"]);
    
                var el = document.getElementById('id-' + jname);
                el.value =  JSON.stringify(data_json[jname + "_tmp"]);
                // remove the "auxiliary" container
                document.getElementById(jname + '-container').remove();
              }
            }
    
            $("select[data-action='removeOnSubmit']").remove();
    
            // fix scalar-unit.size combining value with units
            var tmpElems = $("input[data-type='scalar-unit.size']");
            for (j = 0; j < tmpElems.length; j++) {
              let elem = tmpElems[j];
              elem.type = "text";
              elem.value = elem.value + " " + elem.getAttribute("data-units");
            }
    
            return true;
    
        });
    });
    
</script>

{% endblock %}

