{% extends "base.html" %}

{% block content %}

<div class="container">

    <br>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <div class="row">
            <div class="col-md-6">
              <!-- Title -->
              <h4 class="font-weight-bold text-primary">Select</h4>
            </div>
          </div> <!-- / .row -->
        </div>

        <div class="card-body">
          <form id="depSelect" action="{{ url_for('deployments_bp.configure')}}" method="post">
                {% for template in templates %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="choice{{loop.index}}" name="selected_tosca" value="{{ template['name'] }}" {% if loop.index==1 %}checked{% endif %}  >
                    <label class="form-check-label" for="choice{{loop.index}}">{{ template['option'] }}</label>
                </div>
                {% if template['description'] %}
                <p>
                    {{template['description'] | safe }}
                </p>
                {% endif %}
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-success submitBtn">Submit</button>
                <button id="cancelBtn" type=button class="btn btn-small btn-primary" onclick="location.href='{{ url_for('home_bp.portfolio') }}'">
                <span class="fas fa-ban mr-2"></span>Cancel</button>
          </form>
        </div>
    </div>
</div>
{% endblock %}

