{% extends "base.html" %}

{% block content %}
<br>
<div class="container">

    {% if enable_vault_integration and template['metadata']['require_ssh_key'] and ssh_pub_key is none  %}
    <!-- Modal -->
        <div class="modal fade" id="sshPopupModal" tabindex="-1" role="dialog" aria-labelledby="sshPopupModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="sshPopupModalLabel">No SSH public key provided</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <p>SSH keys allow you to establish a secure connection between your computer and your virtual machine. At least one public key has to be provided.</p>
              <hr>
              <p>To create a new ssh key pair or upload your public key, please go <a target="_blank" href="{{ url_for("vault_bp.ssh_keys") }}">here</a></p>
              {% if user_documentation_url is defined %}
              <p>For more information, please visit our <a href="{{ user_documentation_url }}" target="_blank">documentation site</a>.</p>
              {% endif %}
              </div>
              <div class="modal-footer">
                  {% if require_ssh_pubkey=='no' %}
                  <div class="d-flex flex-grow-1 justify-content-start custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="popupMaintenanceCheckbox" name="checkbox-maintenance"/>
                      <label class="custom-control-label checkbox-maintenance" for="popupMaintenanceCheckbox">Don't show me again</label>
                  </div>
                  {% endif %}
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {% endif  %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="font-weight-bold text-primary">
            {% if template['metadata']['display_name'] is defined %}{{template['metadata']['display_name']}}{% else %}{{selectedTemplate}}{% endif %}
            </h4>
        </div>

        <div class="card-body">
            <div class="alert alert-info">
                <strong>Description:</strong> {{template['description'] | safe}}
            </div>
            {% if template['metadata']['disclaimer'] is defined %}
            <div class="alert alert-danger">
                    <span>
                        <i class="fas fa-exclamation-circle"><strong> Please read carefully:</strong></i><br><br>
                        {{template['metadata']['disclaimer']}}
                    </span>
            </div>
            {% endif %}
            <form id="depSubmit" action="{{ url_for('deployments_bp.createdep', template=selectedTemplate) }}" method="post" autocomplete="off" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="additional_description">Deployment description</label>
                    <input type="text" class="form-control" id="additional_description" name="additional_description" placeholder="description" value="" maxlength="50" required>
                </div>
                {% include 'config_form.html' %}
                <div id="myalert" class="alert alert-danger alert-dismissible fade show" style="display:none;" role="danger">
                  <strong>Warning!</strong> You have not filled some mandatory fields. Please check the red boxes in each tab.
                </div>
                <button type="submit" class="btn btn-success submitBtn">Submit</button>
                <button id="cancelBtn" type=button class="btn btn-small btn-primary" onclick="location.href='{{ url_for('home_bp.portfolio') }}'">
                <span class="fas fa-ban mr-2"></span>Cancel</button>
            </form>
        </div>
    </div>

</div>

<style>
#manschedConf {
  display: none;
}
</style>

<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2({
      width: '100%' // https://github.com/select2/select2/issues/4220
    });
});
</script>

<script>

$(document).ready(function () {
    $("#loadToscaBtn").click(function () {
        // add spinner to button
        $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...` );
    });
});

$(document).ready(function () {
  $(".nav-link").click(function () {
     checkForm()
  });
  $('input').on("input", function () {
     checkForm()
  });

});

function checkForm(){
    var valid = true;
    $('input').each(function(){
       if ( (this.disabled == false) && this.required && (this.value == '')){
         this.style.borderColor = 'red';
         valid = false;
       }
       else {
         this.style.borderColor = '#ccc';
       }
    });
    if (!valid){
        document.getElementById('myalert').style.display = "block";
    }
    else {
        document.getElementById('myalert').style.display = "none";
    }

    return valid;
};

$(document).ready(function () {
    $("#depSubmit").submit(function () {
        //disable button on click
        $(".submitBtn").attr("disabled", true);
        // add spinner to button
        $(".submitBtn").html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...` );
        //disable cancel too
        $("#cancelBtn").attr("disabled", true);
        $("#cancelBtn").attr("onclick", "#");

        // Process complex types, like list and map
        var data_json = $('#depSubmit').serializeJSON();
        var tmpElems = $("input[data-output-type='json']");

        for (j = 0; j < tmpElems.length; j++) {
          let jname = tmpElems[j].name;

          if ( data_json[jname + "_tmp"] == undefined)
          {
             document.getElementById('id-' + jname).disabled = true;

          }
          else
          {
            //console.log(data_json[jname + "_tmp"]);

            var el = document.getElementById('id-' + jname);
            el.value =  JSON.stringify(data_json[jname + "_tmp"]);
            // remove the "auxiliary" container
            document.getElementById(jname + '-container').remove();
          }
        }

        $("select[data-action='removeOnSubmit']").remove();

        // fix scalar-unit.size combining value with units
        var tmpElems = $("input[data-type='scalar-unit.size']");
        for (j = 0; j < tmpElems.length; j++) {
          let elem = tmpElems[j];
          elem.type = "text";
          elem.value = elem.value + " " + elem.getAttribute("data-units");
        }

        return true;

    });
});


$(document).ready(function () {

   function hideSelectSla() {
    if ($("#mansched").is(":checked")){
       $('#manschedConf').show();
    }
    else {
	    $('#manschedConf').hide();
    }
   }

  $("input[name='extra_opts.schedtype']").click(function() {
      hideSelectSla();
  });

  hideSelectSla();
});

$(document).ready(function () {
  $("input[name='extra_opts.providerTimeoutSet']").click(function() {
    if ($("#providerTimeoutSet").is(":checked")){
       $('#providerTimeout').prop("disabled",false);
       $('#providerTimeout').prop("value", 5);
    }
    else {
        $('#providerTimeout').prop("disabled",true);
        $('#providerTimeout').prop("value", "");
    }
  });
});

function validatePorts(input){
  var port = $(input)
  //console.log("val: \"" + port.val() + "\"");
  let val = port.val();
  let re = /(^\[[0-9]+,[0-9]+\]$)|(^[0-9]+$)/;
  if (!re.test(val)){
    port.addClass("is-invalid");
  }
  else {
    //console.log("ok");
    port.removeClass("is-invalid");
  }
}

function validateCidr(input){
  var cidr = $(input)
  //console.log("val: \"" + cidr.val() + "\"");
  let val = cidr.val();
  let re = /^(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/([0-9]|[1-2][0-9]|3[0-2])$/;
  if (!re.test(val)){
    cidr.addClass("is-invalid");
  }
  else {
    //console.log("ok");
    cidr.removeClass("is-invalid");
  }
}

function validateHostname(input){
  var hostname = $(input)
  //console.log("val: \"" + hostname.val() + "\"");
  let val = hostname.val();
  let re = /^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/;
  if (!re.test(val)){
    hostname.addClass("is-invalid");
  }
  else {
    //console.log("ok");
    hostname.removeClass("is-invalid");
  }
}

function __attachValidationHandler(input) {
  console.log(input);
  var valfunc = input.data("validate-function");
  if (typeof valfunc !== 'undefined' && valfunc.length > 0) {

    input.on("blur", function(){
        eval(valfunc)($(this));
    });
  }
}

$(document).ready(function () {
  $("#depSubmit").find("input").each(function() {
        __attachValidationHandler($(this));
    });
});

</script>

{% if enable_vault_integration and ssh_pub_key is none  %}
<script type="text/javascript">
    if (!localStorage.DoNotShowMessageAgain || localStorage.DoNotShowMessageAgain != "true") {
    $(window).on('load',function(){
        $('#sshPopupModal').modal('show');
    });
};

$('#popupMaintenanceCheckbox').click(function(){
    if ($('#popupMaintenanceCheckbox').attr('checked', true)) {
        localStorage.DoNotShowMessageAgain = "true";
    }
});
</script>


{% endif  %}

{% endblock %}
