{% extends "base.html" %}

{% block content %}
<div class="container">
  	<br>

    {% if config['FEATURE_VAULT_INTEGRATION']|str2bool and template['metadata']['require_ssh_key'] and ssh_pub_key is none  %}
    	<!-- Modal -->
        <div class="modal fade" id="sshPopupModal" tabindex="-1" role="dialog" aria-labelledby="sshPopupModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="sshPopupModalLabel">No SSH public key provided</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				<p>SSH keys allow you to establish a secure connection between your computer and your virtual machine. At least one public key has to be provided.</p>
				<br>
				<p>To create a new ssh key pair or upload your public key, please go <a target="_blank" href="{{ url_for("home_bp.portfolio") }}">here</a></p>
				{% if user_documentation_url is defined %}
				<p>For more information, please visit our <a href="{{ user_documentation_url }}" target="_blank">documentation site</a>.</p>
				{% endif %}
				</div>
				{% if require_ssh_pubkey=='no' %}
				<div class="d-flex flex-grow-1 justify-content-start custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="popupMaintenanceCheckbox" name="checkbox-maintenance"/>
					<label class="custom-control-label checkbox-maintenance" for="popupMaintenanceCheckbox">Don't show me again</label>
				</div>
				{% endif %}
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div> -->
				</div>
			</div>
        </div>
    {% endif  %}

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="dashboard-template-header">
                <div class="dashboard-template-image">
                    <img src="{{template['metadata']['icon']}}" alt="{% if template['metadata']['display_name'] is defined %}{{template['metadata']['display_name']}}{% else %}{{selectedTemplate}}{% endif %} Image">
                </div>
            
                <div class="dashboard-template-title">
                  {% if template['metadata']['display_name'] is defined %}{{template['metadata']['display_name']}}{% else %}{{selectedTemplate}}{% endif %}
                </div>
            
                <div class="dashboard-template-step">
                  Step&nbsp;{{ steps['current'] }}/{{ steps['total'] }}
                </div>
            </div>
        
            <!-- <div class="alert alert-info">
                <strong>Description:</strong> {{template['description'] | safe}}
            </div> -->

            {% if template['metadata']['disclaimer'] is defined %}
            <div class="alert alert-danger">
				<span>
					<i class="fas fa-exclamation-circle"><strong> Please read carefully:</strong></i><br><br>
					{{template['metadata']['disclaimer']}}
				</span>
            </div>
            {% endif %}

            <form id="depSubmit" action="{{ url_for('deployments_bp.createdep', template=selectedTemplate) }}" method="post" autocomplete="off" enctype="multipart/form-data">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<div class="form-group">
					<label for="additional_description">Deployment description</label>
					<input type="text" class="form-control" id="additional_description" name="additional_description" placeholder="Description" value="" maxlength="50" required>
				</div>

				{% include 'config_form.html' %}

				<div id="myalert" class="alert alert-danger alert-dismissible fade show" style="display:none;" role="danger">
					<strong>Warning!</strong> You have not filled some mandatory fields. Please check the red boxes in each tab.
				</div>
				<div class="dashboard-template-buttons-container">
					<button id="cancelBtn" type=button class="dashboard-button dashboard-button-lg dashboard-button-danger" title="Cancel" onclick="location.href='{{ url_for('home_bp.portfolio') }}'">
						Cancel&nbsp;<i class="fas fa-ban"></i>
					</button>

					{% if steps['current'] > 1 %}
						<button type="button" class="dashboard-button dashboard-button-outline-no-border" title="Back" onclick="history.back()" style="margin-left: auto; margin-right: 4px;">
							<i class="fas fa-arrow-left"></i>&nbsp;Back
						</button>
					{% endif %}

					<button id="continue_btn" type="button" class="dashboard-button dashboard-button-lg dashboard-button-primary" title="Continue">
						Continue&nbsp;<i class="fas fa-arrow-right"></i>
					</button>
				</div>
            </form>

            <div id="checkSubmit" style="display: none;">
				<div class="dashboard-title" style="margin-top: 0;">
					<i class="fas fa-check-circle"></i>&nbsp;Check data
				</div>

				<div class="dashboard-check-data">

				</div>

				<br>
				<div class="dashboard-template-buttons-container">
					<button id="cancelBtn" type=button class="dashboard-button dashboard-button-lg dashboard-button-danger" title="Cancel" onclick="location.href='{{ url_for('home_bp.portfolio') }}'">
						Cancel&nbsp;<i class="fas fa-ban"></i>
					</button>
					<button id="back_btn" type="button" class="dashboard-button dashboard-button-outline-no-border" title="Back" onclick="" style="margin-left: auto; margin-right: 4px;">
						<i class="fas fa-arrow-left"></i>&nbsp;Back
					</button>
					<button id="submit_btn" type="button" class="dashboard-button dashboard-button-lg dashboard-button-primary" title="Submit">
						Submit&nbsp;<i class="fas fa-share"></i>
					</button>
				</div>
            </div>
        </div>
    </div>
</div>

<style>

#manschedConf {
  display: none;
}

</style>

<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2({
      	width: '100%' // https://github.com/select2/select2/issues/4220
    });

    $('#continue_btn').on('click', () => {
		if($('#depSubmit')[0].checkValidity()) {
			$('#depSubmit').hide();
			$('#checkSubmit').show();
	
			$('.dashboard-template-step').html("Step&nbsp;{{ steps['total'] }}/{{ steps['total'] }}")
	
			let data = $('#depSubmit').serializeArray();

			let template_inputs = $('<textarea />').html("{{template_inputs}}").text()

			template_inputs = template_inputs.replace(/="([^"]*)"/g, "='$1'").replace(/\n/g, "\\n").replaceAll('False', 'false').replaceAll('True', 'true')

			let inputs = JSON.parse(template_inputs);
			let append = ''; 
			let map_array = [];
			let list_array = [];
			let multi_array = [];

			// console.log(inputs)
	
			for(let i = 0; i < data.length; i++) {
				for(let j = 0; j < Object.keys(inputs).length; j++) {
					let key = Object.keys(inputs)[j];
		
					if(data[i].name.includes(key)) {
					let input = inputs[key];
					let html_value = '';

					// console.log(data)

					// console.log(input, data[i].value)
		
					if(input.type !== 'hidden') {
						
						switch(input.type) {
						// COMBINED
						case 'combined':
							let selected = input.constraints.filter(e => { return e.value == data[i].value });

							if(selected.length > 0) {
								html_value = '<div class="form-group" style="margin-bottom: 4px;"><label>'+ key +':</label>&nbsp;';
									html_value += selected[0].label;
								html_value += '</div>';
							}
						break;

						// MAP
						case 'map':
							let map_split = data[i].name.split('_tmp[')

							if(data[i].name == map_split[0]) {
								if(map_array !== undefined && map_array.length > 0) {
									html_value = '<div class="form-group" style="margin-bottom: 4px;"><label>'+ key +':</label>&nbsp;';
									html_value += '<ul>';
									
									for(let j = 0; j < map_array.length; j++) {
										if(map_array[j] !== undefined && map_array[j] !== '' && map_array[j] !== null) {
											html_value += '<li>'+ map_array[j] +'</li>';
										}
									}
									
									html_value += '</ul>';
									html_value += '</div>';
								
									map_array = [];
								}
							} else {
								let map_num = data[i].name.split('_tmp[')[1].split(']')[0];

								if(map_array[map_num] == undefined) {
									map_array[map_num] = '';
								}

								map_array[map_num] += data[i].value + ' ';
							}
						break;

						// LIST
						case 'list':
							if(data[i].value == '') {
								if(list_array !== undefined && list_array.length > 0) {
									html_value = '<div class="form-group" style="margin-bottom: 4px;"><label>'+ key +':</label>&nbsp;';
									html_value += '<ul>';
									
									for(let j = 0; j < list_array.length; j++) {
										if(list_array[j] !== undefined && list_array[j] !== '' && list_array[j] !== null) {
											html_value += '<li>'+ list_array[j] +'</li>';
										}
									}
			
									html_value += '</ul>';
									html_value += '</div>';
			
									list_array = [];
								}
							} else {
								list_array.push(data[i].value);
							}

						break;

						// STRING & PASSWORD
						case 'string':
							if(data[i].value !== "") {
								if(key.includes('password')) {
									html_value = '<div class="form-group" style="margin-bottom: 4px;"><label>'+ key +':</label>&nbsp;';
									html_value += '<span style="color: inherit!important">';
			
										for(let j = 0; j < data[i].value.length; j++) {
											html_value += '•';
										}
										
									html_value += '</span>';
			
									html_value += '<span style="display: none; color: inherit!important">'+ data[i].value +'</span>';
									html_value += '&nbsp;<i class="fas fa-eye show-hide-password" style="color: inherit; cursor: pointer;" title="Show & hide password"></i>';
									html_value += '</div>';
								} else {
									html_value = '<div class="form-group" style="margin-bottom: 4px;"><label>'+ key +':</label>&nbsp;';
									html_value += data[i].value;
									html_value += '</div>';
								}
							}
						break;

						// MULTISELECT
						case 'multiselect':
							multi_array.push(data[i].value)

							if(multi_array.length == data.filter(e => {return e.name == data[i].name}).length) {
								html_value = '<div class="form-group" style="margin-bottom: 4px;"><label>'+ key +':</label>&nbsp;';
								html_value += '<ul>';

								for(let j = 0; j < multi_array.length; j++) {
									if(multi_array[j] !== undefined && multi_array[j] !== '' && multi_array[j] !== null) {
										html_value += '<li>'+ multi_array[j] +'</li>';
									}
								}

								html_value += '</ul>';
								html_value += '</div>';

								multi_array = [];
							}
						break;

						// SSH USER
						case 'ssh_user':
						break;
			
						// DEFAULT
						default:
							html_value = '<div class="form-group" style="margin-bottom: 4px;"><label>'+ key +':</label>&nbsp;';
							html_value += data[i].value;
							html_value += '</div>';
						break;
						}
					}
					
					append += html_value;
					}
				}

				/* DESCRIPTION */
				if(data[i].name == "additional_description") {
					html_value = '<div class="form-group" style="margin-bottom: 4px;"><label>Deployment description:</label>&nbsp;';
					html_value += data[i].value;
					html_value += '</div>';

					append += html_value;
				}
			}
	
			$('#checkSubmit > .dashboard-check-data').html(append);

			/* SHOW AND HIDE PASSWORD ON ICON CLICK */
			$('.show-hide-password')
				.off()
				.on('click', (e) => {
					let asterysk = $($(e.target).parent().children()[1]);
					let text = $($(e.target).parent().children()[2]);
					let icon = $($(e.target).parent().children()[3]);

					if(text.is(":hidden")) {
						asterysk.hide();
						text.show();
						
						icon.removeClass('fa-eye');
						icon.addClass('fa-eye-slash');
					} else {
						text.hide();
						asterysk.show();
						
						icon.removeClass('fa-eye-slash');
						icon.addClass('fa-eye');
					}
				})
		}
    })

    $('#back_btn').on('click', () => {
		$('#depSubmit').show();
		$('#checkSubmit').hide();

		$('.dashboard-template-step').html("Step&nbsp;{{ steps['current'] }}/{{ steps['total'] }}")
    })

    $('#submit_btn').on('click', () => {
		set_loading(true);

		$('#depSubmit').submit();
    })
});
</script>

<script>

$(document).ready(function () {
    $("#loadToscaBtn").click(function () {
        // add spinner to button
        $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...` );
    });
});

$(document).ready(function () {
	$(".nav-link").on('click', () => {
		checkForm()
	});
	$('input').on("focusout", () => {
		checkForm()
	});
	$('select').on("change", () => {
		checkForm()
	});
	$('#continue_btn').on("click", () => {
		checkForm()
	});
});

function checkForm() {
    var valid = true;
    if(!$('#depSubmit')[0].checkValidity()) {
      	$('#depSubmit')[0].reportValidity();
    }

    $('input').each(function(){
		if ( (this.disabled == false) && this.required && (this.value == '')){
			this.style.borderColor = 'red';
			valid = false;
		}
		else {
			this.style.borderColor = '#ccc';
		}
    });
  
    $('select').each(function(){
		if ( (this.disabled == false) && this.required && (this.value == '')){
			$(this).parent().children('span.select2').children().children().css('cssText', 'border-color: red!important');
			valid = false; 
		}
		else {
			$(this).parent().children('span.select2').children().children().css('cssText', 'border-color: #80808056!important'); 
		}
    });

    if (!valid){
        document.getElementById('myalert').style.display = "block";
    }
    else {
        document.getElementById('myalert').style.display = "none";
    }

    return valid;
};

$(document).ready(function () {
    $("#depSubmit").submit(function () {
        //disable button on click
        $(".submitBtn").attr("disabled", true);
        // add spinner to button
        $(".submitBtn").html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...` );
        //disable cancel too
        $("#cancelBtn").attr("disabled", true);
        $("#cancelBtn").attr("onclick", "#");

        // Process complex types, like list and map
        var data_json = $('#depSubmit').serializeJSON();
        var tmpElems = $("input[data-output-type='json']");

        for (let j = 0; j < tmpElems.length; j++) {
			let jname = tmpElems[j].name;

			if ( data_json[jname + "_tmp"] == undefined)
			{
				document.getElementById('id-' + jname).disabled = true;

			}
			else
			{
				//console.log(data_json[jname + "_tmp"]);

				var el = document.getElementById('id-' + jname);
				el.value =  JSON.stringify(data_json[jname + "_tmp"]);
				// remove the "auxiliary" container
				document.getElementById(jname + '-container').remove();
			}
        }

        $("select[data-action='removeOnSubmit']").remove();

        // fix scalar-unit.size combining value with units
        var tmpElems = $("input[data-type='scalar-unit.size']");
        for (let j = 0; j < tmpElems.length; j++) {
			let elem = tmpElems[j];
			elem.type = "text";
			elem.value = elem.value + " " + elem.getAttribute("data-units");
        }

        return true;
    });
});


$(document).ready(function () {
	function hideSelectSla() {
		if ($("#mansched").is(":checked")){
			$('#manschedConf').show();
		}
		else {
			$('#manschedConf').hide();
		}
	}

	$("input[name='extra_opts.schedtype']").click(function() {
		hideSelectSla();
	});

  	hideSelectSla();
});

$(document).ready(function () {
	$("input[name='extra_opts.providerTimeoutSet']").click(function() {
		if ($("#providerTimeoutSet").is(":checked")){
			$('#providerTimeout').prop("disabled",false);
			$('#providerTimeout').prop("value", 5);
		}
		else {
			$('#providerTimeout').prop("disabled",true);
			$('#providerTimeout').prop("value", "");
		}
	});
});

function validatePorts(input){
	let port = $(input)
	let val = port.val();
	let re = /(^\[[0-9]+,[0-9]+\]$)|(^[0-9]+$)/;
	if (!re.test(val)){
		port.addClass("is-invalid");
	}
	else {
		port.removeClass("is-invalid");
	}
}

function validateCidr(input){
	let cidr = $(input)
	let val = cidr.val();
	let re = /^(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/([0-9]|[1-2][0-9]|3[0-2])$/;
	if (!re.test(val)){
		cidr.addClass("is-invalid");
	}
	else {
		cidr.removeClass("is-invalid");
	}
}

function validateHostname(input){
	let hostname = $(input)
	let val = hostname.val();
	let re = /^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/;
	
	if (!re.test(val)){
		hostname.addClass("is-invalid");
	}
	else {
		hostname.removeClass("is-invalid");
	}
}

function __attachValidationHandler(input) {
	console.log(input);
	var valfunc = input.data("validate-function");
	if (typeof valfunc !== 'undefined' && valfunc.length > 0) {

		input.on("blur", () => {
			eval(valfunc)($(this));
		});
	}
}

$(document).ready( () => {
	$("#depSubmit").find("input").each(() =>  {
		__attachValidationHandler($(this));
    });
});

</script>

{% if config['FEATURE_VAULT_INTEGRATION']|str2bool  and ssh_pub_key is none  %}
	<script type="text/javascript">
		if (!localStorage.DoNotShowMessageAgain || localStorage.DoNotShowMessageAgain != "true") {
			$(window).on('load',() => {
				$('#sshPopupModal').modal('show');
			});
		};

		$('#popupMaintenanceCheckbox').click(() => {
			if ($('#popupMaintenanceCheckbox').attr('checked', true)) {
				localStorage.DoNotShowMessageAgain = "true";
			}
		});
	</script>
{% endif  %}

{% endblock %}
