{% extends "base.html" %}

{% block content %}
<div class="container">
  	<br>

    {% if config['FEATURE_VAULT_INTEGRATION']|str2bool and template['metadata']['require_ssh_key'] and ssh_pub_key is none  %}
    	<!-- Modal -->
        <div class="modal fade" id="sshPopupModal" tabindex="-1" role="dialog" aria-labelledby="sshPopupModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="sshPopupModalLabel">No SSH public key provided</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				<p>SSH keys allow you to establish a secure connection between your computer and your virtual machine. At least one public key has to be provided.</p>
				<br>
				<p>To create a new ssh key pair or upload your public key, please go <a target="_blank" href="{{ url_for("home_bp.show_user_profile") }}">here</a></p>
				{% if user_documentation_url is defined %}
				<p>For more information, please visit our <a href="{{ user_documentation_url }}" target="_blank">documentation site</a>.</p>
				{% endif %}
				</div>
				{% if require_ssh_pubkey=='no' %}
				<div class="d-flex flex-grow-1 justify-content-start custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="popupMaintenanceCheckbox" name="checkbox-maintenance"/>
					<label class="custom-control-label checkbox-maintenance" for="popupMaintenanceCheckbox">Don't show me again</label>
				</div>
				{% endif %}
				</div>
			</div>
        </div>
    {% endif  %}

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="dashboard-template-header">
                <div class="dashboard-template-image">
                    <img src="{{template['metadata']['icon']}}" alt="{% if template['metadata']['display_name'] is defined %}{{template['metadata']['display_name']}}{% else %}{{selectedTemplate}}{% endif %} Image">
                </div>
            
                <div class="dashboard-template-title">
                  {% if template['metadata']['display_name'] is defined %}{{template['metadata']['display_name']}}{% else %}{{selectedTemplate}}{% endif %}
                </div>
            
                <div class="dashboard-template-step">
                  Step&nbsp;{{ steps['current'] }}/{{ steps['total'] }}
                </div>
            </div>
            {% if template['metadata']['disclaimer'] is defined %}
            <div class="alert alert-danger">
				<span>
					<i class="fas fa-exclamation-circle"><strong> Please read carefully:</strong></i><br><br>
					{{template['metadata']['disclaimer']}}
				</span>
            </div>
            {% endif %}

            <form id="depSubmit" action="{{ url_for('deployments_bp.createdep', template=selectedTemplate) }}" method="post" autocomplete="off" enctype="multipart/form-data">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<div class="form-group">
					<label for="additional_description">Deployment description</label>
					<input type="text" class="form-control" id="additional_description" name="additional_description" placeholder="Description" value="" maxlength="50" required>
				</div>

				{% include 'config_form.html' %}

				<div id="myalert" class="alert alert-danger alert-dismissible fade show" style="display:none;" role="danger">
					<strong>Warning!</strong> You have not filled some mandatory fields. Please check the red boxes in each tab.
				</div>
				<div class="dashboard-template-buttons-container">
					<button id="cancelBtn" type=button class="dashboard-button dashboard-button-lg dashboard-button-danger" title="Cancel" onclick="location.href='{{ url_for('home_bp.portfolio') }}'">
						Cancel&nbsp;<i class="fas fa-ban"></i>
					</button>

					{% if steps['current'] > 1 %}
						<button type="button" class="dashboard-button dashboard-button-outline-no-border" title="Back" onclick="history.back()" style="margin-left: auto; margin-right: 4px;">
							<i class="fas fa-arrow-left"></i>&nbsp;Back
						</button>
					{% endif %}

					<button id="continue_btn" type="button" class="dashboard-button dashboard-button-lg dashboard-button-primary" title="Continue">
						Continue&nbsp;<i class="fas fa-arrow-right"></i>
					</button>
				</div>
            </form>

            <div id="checkSubmit" style="display: none;">
				<div class="dashboard-title" style="margin-top: 0;">
					<i class="fas fa-check-circle"></i>&nbsp;Check data
				</div>

				<div class="dashboard-check-data">

				</div>

				<br>
				<div class="dashboard-template-buttons-container">
					<button id="cancelBtn" type=button class="dashboard-button dashboard-button-lg dashboard-button-danger" title="Cancel" onclick="location.href='{{ url_for('home_bp.portfolio') }}'">
						Cancel&nbsp;<i class="fas fa-ban"></i>
					</button>
					<button id="back_btn" type="button" class="dashboard-button dashboard-button-outline-no-border" title="Back" onclick="" style="margin-left: auto; margin-right: 4px;">
						<i class="fas fa-arrow-left"></i>&nbsp;Back
					</button>
					<button id="submit_btn" type="button" class="dashboard-button dashboard-button-lg dashboard-button-primary" title="Submit">
						Submit&nbsp;<i class="fas fa-share"></i>
					</button>
				</div>
            </div>
        </div>
    </div>
</div>

<style>

#manschedConf {
  display: none;
}

</style>

<script>
/**
 * Filters an array of elements to return only those whose names start with the specified prefix and have a non-empty value.
 * @param {Array} array - The array of elements to filter.
 * @param {string} prefix - The prefix to match against the element names.
 * @returns {Array} An array of elements that match the criteria.
 */	
function findElementsByNamePrefix(array, prefix) {
	if (isElementInHiddenFormGroup(prefix)){
		return [];
	}	
 	return array.filter(item => item.name.startsWith(prefix) && item.value != "");
}
/**
 * Finds the first element in an array that matches the specified name and is not in a hidden form group.
 * @param {Array} array - The array of elements to search through.
 * @param {string} name - The name of the element to find.
 * @returns {Object|undefined} The first matching element, or undefined if no matching element is found.
 */
function findElementByName(array, name) {
	if (isElementInHiddenFormGroup(name)){
		return undefined;
	}		
 	return array.find(item => item.name === name && !isElementInHiddenFormGroup(item));
}
/**
 * Filters an array of elements to return only those that match the specified name.
 * @param {Array} array - The array of elements to filter.
 * @param {string} name - The name to match against the element names.
 * @returns {Array} An array of elements that match the name.
 */
function findMatchingElements(array, name) {
	if (isElementInHiddenFormGroup(name)){
		return [];
	}	
 	return array.filter(item => item.name == name);
}

function extractIdentifier(name) {
    // Split the name by '[' and ']' to get the identifier
    const parts = name.split('[');
    const identifier = parts[1].split(']')[0];
    return identifier;
}

function isElementInHiddenFormGroup(element) {
    // Get the ID of the element
    const groupId = 'form-group-' + element.name;
	    // Find the closest parent that is a div.form-group and has an ID containing the element's ID
    const formGroup = $("#depSubmit").find(`div.form-group#${groupId}`);
	
    // Return true if the formGroup exists and is hidden, false otherwise
    return (formGroup.length > 0 && formGroup.attr('hidden') !== undefined);
}


$(document).ready(function() {
    $('.js-example-basic-single').select2({
      	width: '100%' // https://github.com/select2/select2/issues/4220
    });

    $('#continue_btn').on('click', () => {
		if($('#depSubmit')[0].checkValidity()) {
			$('#depSubmit').hide();
			$('#checkSubmit').show();
	
			$('.dashboard-template-step').html("Step&nbsp;{{ steps['total'] }}/{{ steps['total'] }}")
	
			let data = $('#depSubmit').serializeArray();

			let template_inputs = $('<textarea />').html("{{template_inputs}}").text()

			template_inputs = template_inputs.replace(/="([^"]*)"/g, "='$1'").replace(/\n/g, "\\n").replaceAll('False', 'false').replaceAll('True', 'true')

			let inputs = JSON.parse(template_inputs);
			let html_value= ''; 

			//console.log(inputs)
			//console.log(data)

			// DESCRIPTION
			let dataItem = findElementByName(data, "additional_description");
			html_value += '<div class="form-group" style="margin-bottom: 4px;"><label>Deployment description:</label>&nbsp;';
			html_value += dataItem.value;
			html_value += '</div>';

			for(let key of Object.keys(inputs)){

				let input = inputs[key];

				if(input.type !== 'hidden') {
					switch(input.type) {
						case 'combined': {
							let dataItem = findElementByName(data, key);
							let selected = input.constraints.filter(e => e.value == dataItem.value);
							if(selected.length > 0) {
								html_value += `<div class="form-group" style="margin-bottom: 4px;"><label>${key}:</label>&nbsp;${selected[0].label}</div>`;
							}
							break;
						}
						case 'map': {
							let dataArray = findElementsByNamePrefix(data, key);
							if (dataArray.length > 0){
								const transformedDict = {};

								// Iterate over each object in the array
								dataArray.forEach(obj => {
									// Extract the identifier from the name property
									const identifier = extractIdentifier(obj.name);
									// Extract the field name from the name property
									const fieldName = obj.name.split('[')[2].split(']')[0];
									// Create a new dictionary for the identifier if it doesn't exist
									if (!transformedDict[identifier]) {
										transformedDict[identifier] = {};
									}
									// Add the field name and value to the dictionary for the identifier
									transformedDict[identifier][fieldName] = obj.value;
								});
								html_value += `<div class="form-group" style="margin-bottom: 4px;"><label>${key}:</label>&nbsp;`
								html_value += `<ul>`
								Object.values(transformedDict).forEach(dict => {
									html_value += `<li>${JSON.stringify(dict)}</li>`;
								});
								html_value += `</ul></div>`;
							}	
							break;
						}
						case 'list': {
							if(input.entry_schema.type == "map"){
								let dataArray = findElementsByNamePrefix(data, key);
								if (dataArray.length > 0){
									html_value += `<div class="form-group" style="margin-bottom: 4px;"><label>${key}:</label>&nbsp;`;
									html_value += `<ul>`

									for(let i = 0; i < dataArray.length; i += 2){
										const itemKey = dataArray[i].value;
										const itemValue = dataArray[i+1].value;
										html_value += `<li>${itemKey}: ${itemValue}</li>`;
									}
									html_value += '</ul></div>';
								}
							}
							break;
						}
						case 'string': {
							let dataItem = findElementByName(data, key);
							if(dataItem !== undefined && dataItem.value !== "") {
								if(key.includes('password')) {
									html_value += `<div class="form-group" style="margin-bottom: 4px;"><label>${key}:</label>&nbsp;<span style="color: inherit!important">${'•'.repeat(dataItem.value.length)}</span><span style="display: none; color: inherit!important">${dataItem.value}</span>&nbsp;<i class="fas fa-eye show-hide-password" style="color: inherit; cursor: pointer;" title="Show & hide password"></i></div>`;
								} else {
									html_value += `<div class="form-group" style="margin-bottom: 4px;"><label>${key}:</label>&nbsp;${dataItem.value}</div>`;
								}
							}
							break;
						}
						case 'password': {
							let dataItem = findElementByName(data, key);
							html_value += `<div class="form-group" style="margin-bottom: 4px;"><label>${key}:</label>&nbsp;<span style="color: inherit!important">${'•'.repeat(dataItem.value.length)}</span><span style="display: none; color: inherit!important">${dataItem.value}</span>&nbsp;<i class="fas fa-eye show-hide-password" style="color: inherit; cursor: pointer;" title="Show & hide password"></i></div>`;
							break;
						}
						case 'multiselect': {
							let dataArray = findMatchingElements(data, key);
							html_value += `<div class="form-group" style="margin-bottom: 4px;"><label>${key}:</label>&nbsp;<ul>`
							dataArray.forEach(obj => {
								html_value += `<li>${obj.value}</li>`;
							});
							html_value += `</ul></div>`;
                            break;
						}	
						// SSH USER
						case 'ssh_user':
							break;	

						default:
							try {
								let dataItem = findElementByName(data, key);
								if(dataItem !== undefined && dataItem.value !== ""){
									html_value += `<div class="form-group" style="margin-bottom: 4px;"><label>${key}:</label>&nbsp;${dataItem.value}</div>`;
								}
							}
							catch(err){
							}
							break;
					}
				}	

			}
	
			$('#checkSubmit > .dashboard-check-data').html(html_value);

			/* SHOW AND HIDE PASSWORD ON ICON CLICK */
			$('.show-hide-password')
				.off()
				.on('click', (e) => {
					let asterysk = $($(e.target).parent().children()[1]);
					let text = $($(e.target).parent().children()[2]);
					let icon = $($(e.target).parent().children()[3]);

					if(text.is(":hidden")) {
						asterysk.hide();
						text.show();
						
						icon.removeClass('fa-eye');
						icon.addClass('fa-eye-slash');
					} else {
						text.hide();
						asterysk.show();
						
						icon.removeClass('fa-eye-slash');
						icon.addClass('fa-eye');
					}
				})
		}
    })

    $('#back_btn').on('click', () => {
		$('#depSubmit').show();
		$('#checkSubmit').hide();

		$('.dashboard-template-step').html("Step&nbsp;{{ steps['current'] }}/{{ steps['total'] }}")
    })

    $('#submit_btn').on('click', () => {
		set_loading(true);

		$('#depSubmit').submit();
    })
});
</script>

<script>

$(document).ready(function () {
    $("#loadToscaBtn").click(function () {
        // add spinner to button
        $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...` );
    });
});

$(document).ready(function () {
	$(".nav-link").on('click', () => {
		checkForm()
	});
	$('input').on("focusout", () => {
		checkForm()
	});
	$('select').on("change", () => {
		checkForm()
	});
	$('#continue_btn').on("click", () => {
		checkForm()
	});
});

function checkForm() {
    var valid = true;
    if(!$('#depSubmit')[0].checkValidity()) {
      	$('#depSubmit')[0].reportValidity();
    }

    $('input').each(function(){
		if ( (this.disabled == false) && this.required && (this.value == '')){
			this.style.borderColor = 'red';
			valid = false;
		}
		else {
			this.style.borderColor = '#ccc';
		}
    });
  
    $('select').each(function(){
		if ( (this.disabled == false) && this.required && (this.value == '')){
			$(this).parent().children('span.select2').children().children().css('cssText', 'border-color: red!important');
			valid = false; 
		}
		else {
			$(this).parent().children('span.select2').children().children().css('cssText', 'border-color: #80808056!important'); 
		}
    });

    if (!valid){
        document.getElementById('myalert').style.display = "block";
    }
    else {
        document.getElementById('myalert').style.display = "none";
    }

    return valid;
};

$(document).ready(function () {
    $("#depSubmit").submit(function () {
        //disable button on click
        $(".submitBtn").attr("disabled", true);
        // add spinner to button
        $(".submitBtn").html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...` );
        //disable cancel too
        $("#cancelBtn").attr("disabled", true);
        $("#cancelBtn").attr("onclick", "#");

        // Process complex types, like list and map
        var data_json = $('#depSubmit').serializeJSON();
        var tmpElems = $("input[data-output-type='json']");

        for (let j = 0; j < tmpElems.length; j++) {
			let jname = tmpElems[j].name;

			if ( data_json[jname + "_tmp"] == undefined)
			{
				document.getElementById('id-' + jname).disabled = true;

			}
			else
			{
				//console.log(data_json[jname + "_tmp"]);

				var el = document.getElementById('id-' + jname);
				el.value =  JSON.stringify(data_json[jname + "_tmp"]);
				// remove the "auxiliary" container
				document.getElementById(jname + '-container').remove();
			}
        }

        $("select[data-action='removeOnSubmit']").remove();

        // fix scalar-unit.size combining value with units
        var tmpElems = $("input[data-type='scalar-unit.size']");
        for (let j = 0; j < tmpElems.length; j++) {
			let elem = tmpElems[j];
			elem.type = "text";
			elem.value = elem.value + " " + elem.getAttribute("data-units");
        }

        return true;
    });
});


$(document).ready(function () {
	function hideSelectSla() {
		if ($("#mansched").is(":checked")){
			$('#manschedConf').show();
		}
		else {
			$('#manschedConf').hide();
		}
	}

	$("input[name='extra_opts.schedtype']").click(function() {
		hideSelectSla();
	});

  	hideSelectSla();
});

$(document).ready(function () {
	$("input[name='extra_opts.providerTimeoutSet']").click(function() {
		if ($("#providerTimeoutSet").is(":checked")){
			$('#providerTimeout').prop("disabled",false);
			$('#providerTimeout').prop("value", 5);
		}
		else {
			$('#providerTimeout').prop("disabled",true);
			$('#providerTimeout').prop("value", "");
		}
	});
});

function validatePorts(input){
	let port = $(input)
	let val = port.val();
	let re = /(^\[[0-9]+,[0-9]+\]$)|(^[0-9]+$)/;
	if (!re.test(val)){
		port.addClass("is-invalid");
	}
	else {
		port.removeClass("is-invalid");
	}
}

function validateCidr(input){
	let cidr = $(input)
	let val = cidr.val();
	let re = /^(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/([0-9]|[1-2][0-9]|3[0-2])$/;
	if (!re.test(val)){
		cidr.addClass("is-invalid");
	}
	else {
		cidr.removeClass("is-invalid");
	}
}

function validateHostname(input){
	let hostname = $(input)
	let val = hostname.val();
	let re = /^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/;
	
	if (!re.test(val)){
		hostname.addClass("is-invalid");
	}
	else {
		hostname.removeClass("is-invalid");
	}
}

function __attachValidationHandler(input) {
	var valfunc = input.data("validate-function");
	if (typeof valfunc !== 'undefined' && valfunc.length > 0) {

		input.on("blur", () => {
			eval(valfunc)($(this));
		});
	}
}

$(document).ready( () => {
	$("#depSubmit").find("input").each(() =>  {
		__attachValidationHandler($(this));
    });
});

</script>

{% if config['FEATURE_VAULT_INTEGRATION']|str2bool  and ssh_pub_key is none  %}
	<script type="text/javascript">
		if (!localStorage.DoNotShowMessageAgain || localStorage.DoNotShowMessageAgain != "true") {
			$(window).on('load',() => {
				$('#sshPopupModal').modal('show');
			});
		};

		$('#popupMaintenanceCheckbox').click(() => {
			if ($('#popupMaintenanceCheckbox').attr('checked', true)) {
				localStorage.DoNotShowMessageAgain = "true";
			}
		});
	</script>
{% endif  %}

{% endblock %}
