<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js" integrity="sha256-A6ALIKGCsaO4m9Bg8qeVYZpvU575sGTBvtpzEFdL0z8=" crossorigin="anonymous"></script>
{% if value.hidden == True %}
	{% set hidden = "hidden" %}
{% else %}
 	{% set hidden = "" %}
{% endif %}

{% if update == True and (value.updatable is not defined or value.updatable == False) %}
	{% set mode = "disabled" %}
	{% set hidden = "hidden" %}
	{% set skip = 1 %}
{% else %}
 	{% set mode = "" %}
	{% set skip = 0 %}
{% endif %}

{% if value.show_separator %}
	<div style="border-top: 1px dashed gray;margin: 20px 0px 10px 0px;"></div>
{% endif %}

<div class="form-group" id="form-group-{{key}}" {{ hidden }}>
	{% if (value.type is not defined or (value.type != "hidden" and value.type != "swift_token" and value.type != "swift_autouuid" and value.type != "random_password" and value.type != "openstack_ec2credentials" and value.type != "uuidgen" and value.type != "ldap_user" and value.type != "ssh_user" and value.type != "userinfo")) and (update == False or value.updatable is not defined or value.updatable == True)%}
		<label for="{{key}}">
			{% if value.display_name is defined %}
				{{value.display_name}}
			{% else %}
				{{key.replace('_', ' ')}}
			{% endif %}
		</label>
	{% endif %}
	
	{% if skip == 1 %}
	<!-- skip field -->
	{% elif value.type is defined and (update == False or value.updatable is not defined or value.updatable == True)%}
		<!-- text type -->
		{% if value.type == "text" %}
			<input type="text" class="form-control" data-type="{{value.type}}" id="{{key}}" name="{{key}}" value="{{value.default}}" aria-describedby="help{{key}}" placeholder="{{value.placeholder}}" {% if value.required %}data-required=true required{%endif%} {{mode}} />
		<!-- end text type -->

		<!-- textarea type -->
		{% elif value.type == "textarea" %}
			<textarea class="form-control" {% if value.rows %}rows="{{value.rows}}"{%endif%} data-type="text" id="{{key}}" name="{{key}}" aria-describedby="help{{key}}" placeholder="{{value.placeholder}}" {% if value.required %}data-required=true required{%endif%} {{mode}}>{{value.default}}</textarea>
		<!-- end textarea type -->

		<!-- number types -->
		{% elif value.type == "integer" %}
			<input type="number" min="0" class="form-control" data-type="{{value.type}}" id="{{key}}" name="{{key}}" value="{{value.default}}" {{ value.function }} {{ value.function_params }} aria-describedby="help{{key}}" placeholder="{{value.placeholder}}" {% if value.required %}data-required=true required{%endif%} {{mode}} />
		{% elif value.type == "float" %}
			<input type="number" step="any" class="form-control" data-type="{{value.type}}" id="{{key}}" name="{{key}}" value="{{value.default}}" aria-describedby="help{{key}}" placeholder="{{value.placeholder}}" {% if value.required %}data-required=true required{%endif%} {{mode}} />
		<!-- end number types -->

		<!-- boolean type -->
		{% elif value.type == "boolean" %}
			<select class="js-example-basic-single js-states form-control" data-type="{{value.type}}" id="{{key}}" name="{{key}}" {{mode}} {{ value.function }} {{ value.function_params }}>
				<option value="true" {% if value.default|lower =="true" %}selected="selected"{% endif %}>true</option>
				<option value="false" {% if value.default|lower =="false" %}selected="selected"{% endif %}>false</option>
			</select>

		<!-- list text type -->
		{% elif value.type == "list" and value.entry_schema.type|lower == "string" %}
			<fieldset class="border p-2" {{mode}}>
				<!--legend class="w-auto">{{key}}</legend-->
				{% include 'inputs/list.html' %}
			</fieldset>
		<!-- end list text type -->

		<!-- list of map type -->
		{% elif value.type == "list" and value.entry_schema.type|lower == "map" %}
			<fieldset id="{{key}}" class="border p-2" {{mode}}>
				<!--legend class="w-auto">{{key}}</legend-->
				{% include 'inputs/list_map_string.html' %}
			</fieldset>
		<!-- end list text type -->

		<!-- scalar-unit.size type -->
		{% elif value.type == "scalar-unit.size" %}
			{% if 'in_range' in value.constraints %}
				{% set range_min = value.constraints['in_range'][0].split(' ')[0] %}
				{% set range_max = value.constraints['in_range'][1].split(' ')[0] %}
			{% endif %}
			<div class="input-group">
				<input type="number" min="{{range_min}}" max="{{range_max}}" class="form-control" aria-describedby="{{key}}_append" data-validate-function="validateScalarUnitSize" data-type="{{value.type}}" data-units="{{value.default.split(' ')[1]}}" id="{{key}}" name="{{key}}" value="{{value.default.split(' ')[0]}}" {% if value.required %}data-required=true required{%endif%} {{mode}} />
				<div class="input-group-append">
					<span class="input-group-text" id="{{key}}_append">{{value.default.split(' ')[1]}}</span>
				</div>
			</div>
		<!-- end scalar-unit.size type-->

		<!-- hidden types -->
		{% elif value.type == "hidden" or value.type == "openstack_ec2credentials" or value.type == "uuidgen" or value.type == "ldap_user" or value.type == "ssh_user" or value.type == "userinfo" %}
			<input type="hidden" class="form-control" data-type="{{value.type}}" id="{{key}}" name="{{key}}" value="{{value.default}}" >
		<!-- end hidden types -->

		<!-- hostname type -->
		{% elif value.type == "hostname" %}
			<input type="text" class="form-control" onblur="validateHostname(this)" data-type="{{value.type}}" id="{{key}}" name="{{key}}" value="{{value.default}}" aria-describedby="help{{key}}" placeholder="{{value.placeholder}}" {% if value.required %}data-required=true required{%endif%} {{mode}} />
			<div class="invalid-feedback">Please provide a valid hostname</div>
		<!-- end hostname type -->

		<!-- email type -->
		{% elif value.type == "email" %}
			<input type="email" class="form-control" data-type="{{value.type}}" id="{{key}}" name="{{key}}" value="{{ session['useremail'] }}" {% if value.required %}data-required=true required{%endif%} {{mode}} >
		<!-- end email type -->

		<!-- password type -->
		{% elif value.type == "password" %}
			<input type="password" class="form-control" data-type="{{value.type}}" id="{{key}}" name="{{key}}" data-toggle="password" placeholder="Enter your password" {% if value.required %}data-required=true required{%endif%} {{mode}}>
		<!-- end password type -->

		<!-- random_password type -->
		{% elif value.type == "random_password" %}
			<input type="hidden" class="form-control" data-type="{{value.type}}" id="{{key}}" name="{{key}}" value="">
		<!-- end password type -->

		<!-- select type -->
		<!-- https://github.com/select2/select2/issues/4220 -->
		{% elif value.type == "select" %}
			<select class="js-example-basic-single js-states form-control" data-type="{{value.type}}" data-children-id="{{value.dependent_inputs}}" id="{{key}}" name="{{key}}" {{mode}}>
			{% for constraint in value.constraints %}
				<option value="{{constraint['value']}}" {% if constraint['value']==value.default %}selected="selected"{% endif %}>{{constraint['label']}}</option>
			{% endfor %}
			</select>
		<!-- end select type -->

		<!-- dependent select type -->
		{% elif value.type == "dependent_select" %}
			{% include 'inputs/dependent_select.html' %}
		<!-- end select type -->

		{% elif value.type == "multiselect" %}
			<select class="js-example-basic-multiple form-control" id="{{key}}" name="{{key}}" multiple="multiple" {{mode}}>
				{% for opt in value.options | python_eval %}
					<option value="{{opt}}" style="margin: 2px;">{{opt}}</option>
				{% endfor %}
			</select>

		<!-- radio type -->
		{% elif value.type == "radio" %}
			{% for constraint in value.constraints %}
				{% if loop.first %}
					<br><input type="radio" data-type="{{value.type}}" id="{{key}}" name="{{key}}" value={{constraint['value']}} checked {{mode}}> {{constraint['label']}}<br>
				{% else %}
					<input type="radio" data-type="{{value.type}}" id="{{key}}" name="{{key}}" value={{constraint['value']}} {{mode}}> {{constraint['label']}}<br>
				{% endif %}
			{% endfor %}
		<!-- end radio type -->

		<!-- toggle type -->
		{% elif value.type == "toggle" %}
			{% for constraint in value.constraints %}
				<div>
					<input type="checkbox" data-type="{{value.type}}" data-toggle="toggle" id="{{key}}" name="{{key}}" data-size="sm" data-offstyle="dark" value={{constraint['value']}} {{mode}}>

					<div id="encryption_alert" class="modal fade" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Storage encryption alert</h5>
								</div>
								<div class="modal-body">{% include 'storage_encryption_alert.html' %}</div>
								<div class="modal-footer">
									<a id="cancelBtn" class="btn btn-primary text-white" role="button" onclick="toggle_off()">Cancel</a>
									<a id="confirmBtn" class="btn btn-success text-white" role="button" data-dismiss="modal">Accept</a>
								</div>
							</div>
						</div>
					</div>

					{% if 'storage_encryption' in key %}
						<script>

							$("#{{key}}").on('change', function() {
								if ($(this).is(':checked')) {
									$('#encryption_alert').modal({ backdrop: 'static', keyboard: false },'show');
								}
							});

							function toggle_off() {
								$('#{{key}}').prop('checked', false).change();
								$('#encryption_alert').modal('hide');
							}

						</script>
					{% endif %}
				</div>
			{% endfor %}
		<!-- end toggle type -->

		<!-- ssh special input field -->
		{% elif value.type == "ssh_pub_key_type" %}
			<input type="text" class="form-control" data-type="{{value.type}}" id="{{key}}" name="{{key}}" value="{{value.default}}" aria-describedby="help{{key}}" {% if ssh_pub_key is not none %}placeholder="{{value.placeholder}}"{% endif %} {% if ssh_pub_key is none %}required{% endif %} {{mode}} />
		<!-- end ssh special input type -->

		<!-- List of map of strings -->
		{% elif value.type == "map" and value.entry_schema.type == "string" %}
			<fieldset class="border p-2" {{mode}}>
				{% include 'inputs/map_string.html' %}
			</fieldset>
		<!-- end Port field -->

		<!-- Port field -->
		{% elif value.type == "map" and (value.entry_schema.type == "tosca.datatypes.network.PortSpec" or value.entry_schema.type == "tosca.datatypes.indigo.network.PortSpec") %}
			{% set ports_type = "indigo" if 'indigo' in value.entry_schema.type else "" %}
			<fieldset class="border p-2" {{mode}}>
				{% include 'inputs/ports.html' %}
			</fieldset>
		<!-- end Port field -->

		<!-- combined special input field -->
		{% elif value.type == "combined" %}
			{% include 'inputs/combined.html' %}
		<!-- end combined special input field -->

		<!-- dependent_definition special input field -->
		{% elif value.type == "dependent_definition" %}
			{% include 'inputs/dependent_definition.html' %}
		<!-- end dependent_definition special input field -->

		{% else %}
			<!-- select type if constraints are defined -->
			{% set constraints = value.constraints | selectattr('valid_values') | map(attribute='valid_values') | list  %}
			
			{% if constraints %}
				<select class="js-example-basic-single js-states form-control" data-type="{{value.type}}" id="{{key}}" name="{{key}}" {{mode}} {{ value.function }} {{ value.function_params }}>
					{% for val in constraints[0] %}
						<option value="{{val}}" {% if val==value.default %}selected="selected"{% endif %}>{{val}}</option>
					{% endfor %}
				</select>
			{% else %}
				<!-- text type, hide fields with password -->
				<input 
					{% if 'bucket_name' in key %} incorrect=true onfocusout="check_s3_bucket_name('{{key}}')" onkeyup="check_s3_bucket_name('{{key}}')" {% endif %}
				 	{% if key|contains_sensitive_keyword(config['SENSITIVE_KEYWORDS']) %}type="password" data-toggle="password"{% else %}type="text"{% endif %} 
					class="form-control" id="{{key}}" name="{{key}}" value="{{value.default}}" aria-describedby="help{{key}}" 
					{% if value.required %}data-required=true required{%endif%} {{mode}} 
				/>
			{% endif %}
		{% endif %}  <!-- end tag type existence if -->

		<span id="help{{key}}" class="text-muted">
			{{value.description}}
			{% if 'bucket_name' in key %}
				<details>
					<summary>
						<span id="rule_title_{{key}}">Naming rules</span>
						<span id="icon_correct_{{key}}" style="color: green; display: none;"><i class="fas fa-check-circle"></i></span>
						<span id="icon_error_{{key}}" style="color: red; display: none;"><i class="fas fa-exclamation-triangle"></i></i></span>
					</summary>
					<ul style="font-size: .8em;">
						<li id="rule_0_{{key}}">Bucket names must be between 1 and 27 characters long.</li>
						<li id="rule_1_{{key}}">Bucket names can consist only of lowercase letters, numbers, dots (.), and hyphens (-).</li>
						<li id="rule_2_{{key}}">Bucket names must end with a letter or number.</li>
						<li id="rule_3_{{key}}">Bucket names must not contain two adjacent periods.</li>
						<li id="rule_4_{{key}}">Bucket names must not be formatted as an IP address (for example, 192.168.5.4).</li>
						<!-- <li id="rule_5_{{key}}">Bucket names must not start with the prefix "xn--", "sthree-", "sthree-configurator", or "amzn-s3-demo-".</li> -->
						<li id="rule_6_{{key}}">Bucket names must not end with the suffix "-s3alias", "--ol-s3", ".mrap" or "--x-s3".</li>
					</ul>
				</details>
			{% endif %}
		</span>
	{% endif %}

	{% if value.info_box %}
		<div class="alert alert-info" style="padding: 5px; margin: 5px 0" role="info">
			<strong>Info:&nbsp;</strong>{{ value.info_box | safe }}
		</div>
	{% endif %}

	{% if value.warning %}
		<div class="alert alert-warning" style="padding: 5px; margin: 5px 0" role="alert">
			<strong>Warn:&nbsp;</strong>{{ value.warning | safe }}
		</div>
	{% endif %}
</div>

<script>

$('.custom-file-input').on('change', () => {
   let fileName = $(this).val().split('\\').pop();
   $(this).next('.custom-file-label').addClass("selected").html(fileName);
});

$(document).ready(() => {
	$('.js-example-basic-multiple').select2({
	  	width: '100%' // https://github.com/select2/select2/issues/4220
	});
});

function check_s3_bucket_name(elem_id) {
    const name = $('#' + elem_id).val();

    // Define the rules as an array of functions
    const rules = [
		// Rule 0: Length between 3 and 27 characters
        (name) => name.length > 0 && name.length <= 27, 	
		// Rule 1: Allowed characters
        (name) => /^[a-z0-9.-]+$/.test(name),          		
		// Rule 2: Ends with a letter or number
        (name) => /[a-z0-9]$/i.test(name),             		
		// Rule 3: No two adjacent periods
        (name) => !name.includes('..'),               		
		// Rule 4: Not an IP address
        (name) => !/^\d{1,3}(\.\d{1,3}){3}$/.test(name), 	
		
		// Rule 5: No forbidden prefixes
		/* (name) => !["xn--", "sthree-", "sthree-configurator", "amzn-s3-demo-"]
            .some(prefix => name.startsWith(prefix)), */

		// Rule 6: No forbidden suffixes
        (name) => !["-s3alias", "--ol-s3", ".mrap", "--x-s3"]
            .some(suffix => name.endsWith(suffix))   		
    ];

    // Validate the rules
    const errors = rules
        .map((rule, index) => ({ index, isValid: rule(name) }))
        .filter(result => !result.isValid)
        .map(result => result.index);

    // Update input styles
    $('#' + elem_id).css({
        borderColor: errors.length === 0 ? '#ccc' : 'red'
    }).attr('incorrect', errors.length > 0);

    // Update title and icons
    $('#rule_title_' + elem_id).css({
        color: errors.length === 0 ? 'green' : 'red'
    }).html(`Naming rules ${errors.length === 0 ? '' : `(${errors.length})`}`);

    $('#icon_correct_' + elem_id).toggle(errors.length === 0);
    $('#icon_error_' + elem_id).toggle(errors.length > 0);

    // Update rule colors
    rules.forEach((_, index) => {
        $(`#rule_${index}_${elem_id}`).css({
            color: errors.includes(index) ? 'red' : 'green'
        });
    });
}


</script>

<script src="/deployments/static/js/script.js"></script>